body {
  overflow-x: hidden;
}

.tw-container {
  max-width: 1170px;

  margin: 0 auto;
}

a {
  color: var(--color-link);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 75px;

  line-height: 77px;

  letter-spacing: -0.01em;
}

h2 {
  font-family: "TT Commons Medium";

  font-weight: 500;

  font-style: normal;

  font-size: 58px;

  line-height: 62px;

  letter-spacing: -0.01em;

  color: var(--color-black);
}

h3 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 36px;

  line-height: 40px;

  letter-spacing: -0.01em;
}

.sub-heading {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 15px;

  line-height: 22px;

  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: var(--color-secondary-text);
}

.pad-30 {
  padding: 80px 0 30px 0;
}

.padd-80 {
  padding: 80px 0;
}

.border-radius-10 {
  border-radius: 10px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.preloader_member {
  position: relative;

  min-height: 315px;
}

.preloader_member.pubs {
  min-height: 225px;
}

.preloader_member .loading_animation {
  position: absolute;

  left: 0;

  top: 0;

  bottom: 0;

  right: 0;

  background-color: rgba(255, 255, 255, 0.7);

  z-index: 1;

  display: flex;

  align-items: center;

  justify-content: center;

  pointer-events: none;

  opacity: 0;

  transition: 0.4s;
}

.preloader_member .loading_animation.is--active {
  opacity: 1;
}

.__list-social li a {
  height: 50px;

  width: 50px;

  text-align: center;

  line-height: 50px !important;

  background-color: var(--color-white);

  border-radius: 50%;

  color: var(--color-heading) !important;

  margin-right: 10px;

  transition: all 0.4s ease;

  display: flex !important;

  justify-content: center;

  align-items: center;
}

.category_link a.is--active::before {
  width: 100%;
}

.category_link a::before {
  content: "";

  width: 0;

  height: 2px;

  background-color: #167bfa;

  left: 0;

  bottom: -14px;

  position: absolute;

  transition: 0.4s;
}

.add_show {
  display: block !important;
}

.page-template-publications .footer-top,
.category-technical-blog .footer-top,
.page-template-ai-residency .footer-top,
.page-template-about-us .footer-top,
.page-template-out-teams .footer-top,
.page-template-careers .footer-top,
.page-template-seminar .footer-top,
.page-template-workshops .footer-top,
.page-template-news .footer-top,
.single .footer-top {
  display: none;
}

/*======== HEADER ========= */

#header-main .header-content {
  background: transparent;

  transition: all 0.3s ease;

  padding: 10px 0;
}

.page-template-privacy #header-main .header-content,
.page-template-terms-of-use #header-main .header-content {
  background: var(--color-white);

  padding: 0;
}

.page-privacy {
  margin: 150px 0 50px 0;
}

.page-privacy h1 {
  margin-bottom: 30px;
}

#header-main.shrink .header-content {
  padding: 0;
}

#header-main.shrink .header-content {
  background: var(--color-white);

  box-shadow: 0px 12px 15px rgb(9 108 216 / 10%);
}

.header-main {
  position: fixed;

  top: 0;

  left: 0;

  right: 0;

  z-index: 100;

  transition: 0.4s;
}

.header-main ul,
.header-main li {
  padding: 0;

  margin: 0;

  list-style: none;
}

.header-main .header-content .tw-content {
  height: 60px;

  display: flex;

  flex-direction: row;

  justify-content: space-between;

  align-items: center;
}

.header-main .header-content .tw-content ul.menu-main {
  display: flex;

  flex-direction: row;

  height: 100%;
}

.header-main .header-content .tw-content ul.menu-main > li {
  position: relative;
}

.header-main .header-content .tw-content ul.menu-main > li:not(:last-child) {
  margin-right: 26px;
}

.header-main
  .header-content
  .tw-content
  ul.menu-main
  > li
  > ul
  > li:not(:last-child) {
  padding-bottom: 20px;
}

.header-main .header-content .tw-content ul.menu-main > li > ul > li:hover a {
  color: var(--color-link);
}

.header-main .header-content .tw-content ul.menu-main a {
  position: relative;

  color: var(--color-black);

  font-size: 16px;

  line-height: 60px;

  display: block;

  font-weight: 500;

  font-family: "TT Commons Medium";

  transition: 0.4s;
}

.header-main .header-content .tw-content ul.menu-main a:hover {
  color: var(--color-link);
}

.header-main .header-content .tw-content ul.menu-main a > i {
  font-size: 13px;

  margin-left: 5px;
}

.header-main .header-content .tw-content ._logo {
  display: block;
}

.header-main .header-content .tw-content ._logo a {
  display: flex;

  align-items: center;

  justify-content: center;

  width: 143px;
}

.header-main .header-content .tw-content ._logo img {
  width: 100%;

  transition: 0.4s;
}

.shrink .header-main .header-content .tw-content ._logo img {
  width: 80%;
}

.header-main .header-content .tw-content ._logo svg {
  width: 100%;

  height: 100%;
}

.header-main .header-content .tw-content ul.menu-main > li > ul {
  position: absolute;

  z-index: 10;

  left: -15px;

  background-color: #ffffff;

  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);

  border-radius: 2px;

  flex-direction: column;

  height: auto;

  padding: 28px 30px;

  display: none;

  width: 270px;

  border-radius: 13px;
}

.header-main
  .header-content
  .tw-content
  ul.menu-main
  > li
  > ul.list_mega
  li:not(:last-child) {
  padding-bottom: 33px;
}

.header-main .header-content .tw-content ul.menu-main > li > ul.list_mega li a {
  margin-bottom: 7px;
}

.header-main
  .header-content
  .tw-content
  ul.menu-main
  > li
  > ul.list_mega
  li
  span {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 22px;

  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: var(--color-link);

  margin-bottom: 7px;

  display: block;
}

.header-main .header-content .tw-content ul.menu-main > li > ul li a {
  color: var(--color-black) !important;

  line-height: 19px !important;
}

.header-main .header-content .tw-content ul.menu-main > li > ul li a:hover {
  color: var(--color-link) !important;
}

.logo-white {
  display: none;
}

.page-template-about-us .logo-white,
.single-careers .logo-white,
.single-publications .logo-white,
.page-template-product-driver .logo-white,
.page-template-product-guard .logo-white,
.page-template-product-surround .logo-white,
.page-template-products .logo-white,
.page-template-product-platform .logo-white {
  display: block;
}

.page-template-about-us .logo-black,
.single-careers .logo-black,
.single-publications .logo-black,
.page-template-product-driver .logo-black,
.page-template-product-guard .logo-black,
.page-template-product-surround .logo-black,
.page-template-products .logo-black,
.page-template-product-platform .logo-black {
  display: none;
}

.navigation_m.is--active .logo-white {
  display: none;
}

.navigation_m.is--active .logo-black {
  display: block;
}

.page-template-about-us .header-main .header-content .tw-content ul.menu-main a,
.single-careers .header-main .header-content .tw-content ul.menu-main a,
.single-publications .header-main .header-content .tw-content ul.menu-main a,
.page-template-product-driver
  .header-main
  .header-content
  .tw-content
  ul.menu-main
  a,
.page-template-product-guard
  .header-main
  .header-content
  .tw-content
  ul.menu-main
  a,
.page-template-product-surround
  .header-main
  .header-content
  .tw-content
  ul.menu-main
  a,
.page-template-products .header-main .header-content .tw-content ul.menu-main a,
.page-template-product-platform
  .header-main
  .header-content
  .tw-content
  ul.menu-main
  a {
  color: var(--color-white);
}

#header-main.shrink .header-main .header-content .tw-content ul.menu-main a {
  color: var(--color-black);
}

#header-main.shrink
  .header-main
  .header-content
  .tw-content
  ul.menu-main
  a:hover {
  color: var(--color-link);
}

.header-main.is--active .header-content .tw-content ul.menu-main a {
  color: var(--color-black);
}

#header-main.shrink .logo-white {
  display: none;
}

#header-main.shrink .logo-black {
  display: block;
}

.page-template-about-us .navigation_m .pull span,
.single-careers .navigation_m .pull span,
.single-publications .navigation_m .pull span,
.page-template-product-driver .navigation_m .pull span,
.page-template-product-guard .navigation_m .pull span,
.page-template-product-surround .navigation_m .pull span,
.page-template-products .navigation_m .pull span,
.page-template-product-platform .navigation_m .pull span {
  background-color: var(--color-white);
}

.navigation_m.is--active .pull span {
  background-color: var(--color-heading);
}

#header-main.shrink .navigation_m .pull span {
  background-color: var(--color-heading);
}

.navigation_m {
  position: fixed;

  top: 0;

  left: 0;

  right: 0;

  height: 60px;

  background: transparent;

  padding: 0 15px;

  z-index: 99;

  flex-direction: row;

  justify-content: space-between;

  align-items: center;

  display: none;
}

.navigation_m .logo_m {
  width: 128px;

  display: block;
}

.navigation_m .logo_m img {
  width: 100%;

  object-fit: cover;
}

.navigation_m .logo_m svg {
  width: 100%;

  height: 100%;
}

.navigation_m .pull span {
  width: 26px;

  height: 3px;

  background-color: var(--color-heading);

  margin-bottom: 5px;

  display: block;

  border-radius: 2px;
}

.navigation_m .pull span:last-child {
  margin-bottom: 0;

  width: 13px;
}

.navigation_m .pull span:nth-of-type(1) {
  width: 20px;
}

.navigation_m .pull span:nth-of-type(1),
.navigation_m .pull span:nth-of-type(3) {
  transition: 0.4s;
}

.navigation_m .pull.is--change span:nth-of-type(2) {
  opacity: 0;
}

.navigation_m .pull.is--change span:nth-of-type(1) {
  transform: rotate(42deg) translate(8px, 4px);

  width: 26px;
}

.navigation_m .pull.is--change span:nth-of-type(3) {
  transform: rotate(-42deg) translate(7px, -4px);

  width: 26px;
}

.coating-site {
  position: fixed;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  z-index: 98;

  background-color: #00000029;

  opacity: 0;

  visibility: hidden;

  display: none;

  transition: 0.3s;
}

.coating-site.is--active {
  opacity: 1;

  visibility: visible;
}

.section-1 .location {
  margin-bottom: 10px;
}

/*=========HOME PAGE============*/

.hero-background {
  overflow: hidden;

  max-width: 100%;

  position: relative;
}

.h-section1 h1 {
  color: var(--color-heading);

  margin-bottom: 20px;
}

.h-section1 #webgl-canvas {
  top: 10%;

  left: 0;

  position: absolute;

  z-index: 0;

  transform: rotate(351deg);
}

.about-us .h-section1 #webgl-canvas {
  top: 0;

  transform: rotate(161deg);

  left: auto;

  right: -14%;
}

.h-section1 #webgl-canvas canvas {
  transform: scale(1.5);
}

.h-section1 {
  width: 100%;

  height: 100vh;

  position: relative;

  overflow: hidden;
}

.h-section1 .banner_site {
  width: 100%;

  height: 100%;

  background-position: center;

  background-size: cover;
}

.product-page .h-section1 .banner_site {
  background-position: bottom center;
}

.h-section1 .content_banner_site .tw-container {
  height: 100%;

  width: 100%;

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  justify-content: center;
}

.h-section1 .content_banner_site {
  position: absolute;

  top: 0;

  bottom: 10%;

  left: 0;

  right: 0;

  z-index: 1;

  height: 100%;

  width: 100%;
}

.h-section1 .content_banner_site .tw-content h3 {
  font-family: "TT Commons Medium";

  font-weight: 500;

  font-size: 30px;

  line-height: 34px;

  color: var(--color-heading);

  margin-bottom: 36px;
}

.tw-button-common {
  padding: 20px 40px;

  display: inline-flex;

  flex-direction: row;

  align-items: center;

  justify-content: center;

  border-radius: 30px;

  text-transform: uppercase;

  transition: 0.4s;

  border: none;
}

.btn-view-detail {
  font-family: "TT Commons Medium";

  font-weight: 500;

  font-size: 18px;

  line-height: 22px;

  color: var(--color-link);

  display: flex;

  align-items: center;
}

.btn-view-detail:hover {
  color: var(--color-link);
}

.btn-view-detail span {
  transition: 0.4s;
}

.btn-view-detail:hover span {
  color: var(--color-link);
}

.btn-view-detail-home {
  margin-top: 50px;
}

.btn-view-detail img {
  margin-left: 10px;

  transition: 0.2s;
}

.btn-view-detail:hover img {
  padding-left: 3px;
}

.tw-button-common.btn-dark {
  background-color: var(--color-link);
}

.tw-button-common.btn-dark:hover {
  background-color: var(--button-hover);
}

.tw-button-common.btn-light {
  background-color: transparent;

  border: 1px solid var(--color-link);

  color: var(--color-link);

  margin-left: 11px;
}

.tw-button-common.btn-light:hover {
  background-color: var(--button-hover);

  border-color: var(--button-hover);
}

.tw-button-common.btn-light:hover span {
  color: var(--color-white);
}

.tw-button-common span {
  font-family: "TT Commons Medium";

  font-weight: 500;

  font-size: 15px;

  line-height: 19px;

  transition: 0.4s;
}

.tw-button-common.btn-dark span {
  color: var(--color-white);
}

.tw-button-common.btn-light span {
  color: var(--color-link);
}

.h-section2 {
  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;
}

.h-section2 .tw-container .tw-content {
  padding: 120px 0 250px 0;
}

.h-section2 .tw-container .tw-content .left {
  width: 42.7215189873%;

  padding-top: 5px;
}

.h-section2 .tw-container .tw-content .left h3 {
  font-family: "Manrope", sans-serif;

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 22px;

  letter-spacing: 0.03em;

  text-transform: uppercase;

  margin-bottom: 33px;

  color: var(--color-white);
}

.h-section2 .tw-container .tw-content .left p {
  color: var(--color-white);
}

.h-section2 .tw-container .tw-content .right {
  width: 51.2658227848%;
}

.h-section2 .tw-container .tw-content .right p {
  font-family: "TT Commons Regular";

  font-weight: 400;

  font-style: normal;

  font-size: 42px;

  line-height: 44px;

  color: var(--color-white);
}

.h-section3 {
  background-color: #f2f8ff;

  padding-bottom: 154px;

  position: relative;
}

.h-section3::after {
  position: absolute;

  top: 45rem;

  left: -6%;

  content: "";

  background: linear-gradient(
    270deg,
    #82ffff 0.04%,
    rgba(130, 255, 255, 0) 99.83%
  );

  opacity: 0.4;

  filter: blur(60px);

  border-radius: 70.7124px;

  height: 50%;

  width: 45%;
}

.h-section3 .image-member {
  justify-content: flex-end;
}

.h-section3 .content_temp .tw-content {
  max-width: 41%;

  margin-left: 0;
}

.h-section3 .tw-container .tw-content {
  overflow: hidden;

  position: relative;
}

.h-section3 .tw-content .content_temp .tw-container {
  display: flex;

  position: relative;
}

.h-section3 .tw-content .content_temp .background-opacity {
  background: #fff;

  height: 83rem;

  max-width: 55%;

  position: absolute;

  right: 0;

  z-index: -1;

  width: 100%;
}

.h-section3 .tw-content .content_temp {
  text-align: left;

  z-index: 1;

  flex: 1 0 0%;

  position: absolute;

  width: 100%;
}

.content_temp_product h2 {
  padding-bottom: 57px;

  padding-top: 51px;

  position: relative;

  z-index: 1;
}

.h-section3 .tw-content .content_temp h2 {
  margin-bottom: 19px;
}

.h-section3 .content_temp p {
  margin-bottom: 87px;

  padding-bottom: 0;
}

.h-section3 .image-member .image_temp {
  position: relative;

  margin-top: -123px;

  max-width: 53%;

  flex: 0 0 auto;

  background-size: cover;

  height: 900px;

  width: 100%;

  background-color: #fff;

  z-index: 2;

  background-position: center;
}

.h-section3 .image-member .image_temp img {
  width: 100%;
}

.ai-products {
  position: relative;
}

/*.ai-products::before {

  position: absolute;

  content: "";

  background-color: var(--color-white);

  height: 100%;

  width: 54.2%;

  top: 0;

  right: 0;

  box-shadow: 0px 14.3091px 21.4636px rgba(0, 40, 91, 0.1);

}

*/

.swiper_home_product {
  padding-bottom: 124px;

  z-index: 1;

  position: relative;
}

.swiper_home_product_image {
  position: relative;

  width: 51%;

  flex: 0 0 auto;

  height: 415px;

  border-radius: 10px;
}

.swiper_home_product_image img {
  border-radius: 10px;

  height: 100%;

  width: 100%;
}

.swiper_home_product_content {
  padding-left: 80px;

  padding-right: 80px;

  flex: 1 0 0%;
}

.swiper_home_product_content h1 {
  color: var(--color-tertiary-text);

  padding-bottom: 0;

  margin-bottom: 51px;
}

.swiper_home_product_content .sub-heading {
  margin-bottom: 5px;

  display: block;
}

.swiper_home_product_content h3 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 36px;

  line-height: 40px;

  letter-spacing: -0.01em;

  color: var(--color-black);

  margin-bottom: 10px;
}

.swiper_home_product_image .swiper-pagination {
  position: relative;

  text-align: left;

  height: 124px;

  margin-top: 30px;
}

.swiper-pagination-bullet {
  width: 30px;

  height: 5px;

  background: var(--color-tertiary-text);

  transition: 0.4s;

  border-radius: 3px;

  margin-right: 15px;

  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 70px;

  height: 5px;

  background: var(--color-link);
}

.swiper_home_product .swiper-pagination {
  text-align: left;

  bottom: 10%;
}

.h-section4 .tw-content ._left {
  flex: 1 0 0%;

  position: relative;
}

.h-section4 .tw-content ._left ._img {
  position: relative;
}

.h-section4 .tw-content ._left ._img img {
  width: 100%;
}

.h-section4 .tw-content ._right {
  width: 44.028%;

  padding: 0 111px 0 66px;

  flex: 0 0 auto;
}

.h-section4 .tw-content ._right h2 {
  margin-bottom: 31px;
}

.h-section4 .tw-content ._right a {
  margin-top: 50px;
}

.h-section5 {
  position: relative;

  padding: 130px 0 80px 0;

  background: #f2f8ff;

  overflow: hidden;
}

.h-section5 .list-post-residency {
  position: relative;

  z-index: 1;
}

.shape-one {
  position: absolute;

  right: -70%;

  width: 120%;

  height: 110%;

  top: 0;

  margin-top: -10%;

  background: linear-gradient(90deg, #187cfa 0%, rgba(24, 124, 250, 0) 100%);

  filter: blur(88.3498px);

  border-radius: 40.5287px;

  transform: matrix(-0.99, 0.15, -0.14, -0.99, 0, 0);

  transition: transform 6s ease-in 0s;

  animation-duration: 3.2s;

  animation-name: paragato;

  animation-iteration-count: infinite;

  animation-direction: alternate;

  -webkit-animation-duration: 3.2s;

  -webkit-animation-name: paragato;

  -webkit-animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;

  -webkit-animation-timing-function: ease-in-out;

  animation-timing-function: ease-in-out;
}

.shape-two {
  position: absolute;

  left: -20%;

  top: 0%;

  width: 1570.12px;

  height: 1383.79px;

  background: linear-gradient(
    270deg,
    #82ffff 0.04%,
    rgba(130, 255, 255, 0) 99.83%
  );

  filter: blur(92.5464px);

  border-radius: 42.4538px;

  transform: matrix(-0.12, 1, -0.98, -0.15, 0, 0);

  transition: transform 34s ease-in-out 2s;

  animation-duration: 4.2s;

  animation-name: reutor;

  animation-iteration-count: infinite;

  animation-direction: alternate;

  -webkit-animation-duration: 4.2s;

  -webkit-animation-name: reutor;

  -webkit-animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;

  -webkit-animation-timing-function: ease-in-out;

  animation-timing-function: ease-in-out;
}

@keyframes paragato {
  from {
    transform: rotate(180deg);

    right: -70%;
  }

  to {
    transform: rotate(140deg);

    right: -40%;
  }
}

@-webkit-keyframes paragato {
  from {
    transform: rotate(180deg);

    right: -70%;
  }

  to {
    transform: rotate(140deg);

    right: -40%;
  }
}

@keyframes reutor {
  from {
    transform: rotate(180deg);

    left: -10%;
  }

  to {
    transform: rotate(140deg);

    left: -30%;
  }
}

@-webkit-keyframes reutor {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(140deg);
  }
}

.h-section5 .tw-content h2 {
  text-align: center;

  margin-bottom: 48px;

  position: relative;

  z-index: 1;
}

.h-section5 .tw-content .swiper-slide {
  height: auto;

  align-self: stretch;
}

.h-section5 .tw-content .list_post {
  overflow: hidden;

  position: relative;
}

.news .tw-content .__item a.thumbnail {
  display: block;

  height: 220px !important;

  width: 100%;

  overflow: hidden;

  flex-shrink: 1;
}

.news .tw-content .__item .desc,
.news_detail .__item .desc {
  height: 68px;

  overflow: hidden;
}

.news .tw-content .__item a.thumbnail .--bg {
  width: 100%;

  height: 100%;

  background-position: center;

  background-size: cover;

  transition: 0.4s;

  border-radius: 10px 10px 0px 0px;
}

.news .tw-content .__item {
  background-color: var(--color-white);

  border-radius: 10px;
}

.news .tw-content .__item .text,
.news_detail ._related_list .text {
  padding: 32px 33px 28px 32px !important;

  flex: 1;

  display: flex;

  flex-direction: column;
}

.news .tw-content .__item .text .sub-heading {
  display: block;

  margin-bottom: 12px;
}

.news .tw-content .__item .text h4 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 24px;

  line-height: 28px;

  color: var(--color-heading);

  margin-bottom: 11px;

  transition: 0.4s;
}

.news .tw-content .__item .text h4:hover {
  color: var(--color-link);
}

.news .tw-content .__item .--meta,
.news_detail ._related_list .__item .--meta {
  margin-top: auto;

  padding-top: 35px;
}

.news .tw-content .__item .btn-view-detail-home {
  margin-top: 0;
}

.news .tw-content .__item .--time,
.news_detail ._related_list .__item .--time {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  color: var(--color-secondary-text) !important;
}

.swiper-pagination-home-ai {
  text-align: center;

  margin-top: 47px;

  position: relative;

  z-index: 1;
}

.single .swiper-slide {
  height: auto;

  align-self: stretch;
}

.single .news_detail ._related_list .__item .--meta {
  padding-top: 0;
}

.single .news_detail ._related_list .__item,
.single-publications ._related_list .__item {
  height: 100%;
}

.single-publications .list-publications-global .__item .--member {
  padding-bottom: 0;
}

.h-section6 {
  padding: 128px 0 20px 0;

  background-size: cover;

  background-repeat: no-repeat;
}

.h-section6 h2 {
  text-align: center;

  color: var(--color-white);

  margin-bottom: 56px;
}

.h-section6 .tw-content .list-logo-partners {
  flex-wrap: wrap;
}

.h-section6 .tw-content ._img {
  width: 16.666%;

  margin-bottom: 60px;
}

.h-section6 .tw-content ._img img {
  height: 50px;

  width: 100px;

  object-fit: contain;
}

/* ================

  ABOUT US

===================*/

.page-template-about-us .header-main .shrink .tw-content ul.menu-main a,
.single-careers
  .header-main
  .shrink
  .header-content
  .tw-content
  ul.menu-main
  a {
  color: var(--color-black);
}

.section_04.our-teams-common {
  padding: 137px 0 303px 0;

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;
}

.about-us .content_banner_site .tw-content h1 {
  width: 100%;

  color: var(--color-white);

  font-size: 60px;

  line-height: 65px;
}

.about-us .content_banner_site h1 span {
  color: var(--color-link);
}

.about-us .section_02 .tw-container .tw-content {
  padding: 141px 0 100px 0;
}

.about-us .section_02 .tw-container .tw-content ._item .__left {
  margin-right: 130px;
}

.about-us .section_02 .tw-container .tw-content ._item .__right {
  width: 100%;
}

.about-us .__left h2 {
  color: var(--color-black);

  min-width: 175px;
}

.about-us .__right .__item_description {
  max-width: 70%;

  margin-bottom: 87px;
}

.about-us .__right p {
  margin-bottom: 15px;
}

.about-us .section_02 .all-list-who .swiper-slide {
  width: 670px;
}

.about-us .section_02 .list-who-item {
  margin-bottom: 50px;
}

.about-us .section_02 .list-who-item img {
  width: 100%;

  height: 388px;

  object-fit: cover;

  border-radius: 10px;

  margin-bottom: 30px;
}

.about-us .section_02 .list-who-item h3 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 36px;

  line-height: 40px;

  color: var(--color-black);

  letter-spacing: -0.01em;

  margin-bottom: 9px;
}

.section_04.our-teams-common .tw-content .__left {
  margin-right: 72px;
}

.section_04.our-teams-common .tw-content .__left h2 {
  width: 223px;

  color: var(--color-white);
}

.section_04 .all-list-team .__item .--image {
  display: block;

  height: 139px;

  background-position: center;

  background-size: cover;

  display: flex;

  justify-content: flex-start;

  align-items: flex-end;

  margin-bottom: 12px;
}

.about-us .section_04 .slide-list-team .swiper-pagination-our-team {
  margin-top: 47px;
}

.our-teams-common .tw-content ._our_team_item {
  /* display: flex;

  flex-wrap: wrap; */

  overflow: hidden;
}

.our-teams-common .tw-content ._our_team_item .swiper-slide {
  height: auto;

  align-self: stretch;
}

.our-teams-common .tw-content ._our_team_item .__item {
  width: 100%;

  margin-right: 16px;

  background: var(--color-white);

  border-radius: 10px;

  padding: 37px 30px 32px 30px;

  display: flex;

  flex-direction: column;

  height: 100%;
}

.our-teams-common .tw-content ._our_team_item .__item img.icon_main {
  margin-bottom: 20px;

  margin-bottom: 20px;

  height: 50px;

  width: 50px;

  object-fit: cover;
}

.our-teams-common .tw-content ._our_team_item .__item .tw-title {
  color: var(--color-black) !important;

  line-height: 40px;

  font-size: 36px;

  font-family: "TT Commons Medium";

  font-weight: 500;
}

.our-teams-common .tw-content ._our_team_item .__item .--txt {
  margin-bottom: 30px;
}

.our-teams-common .tw-content ._our_team_item .__item .btn-view-detail {
  margin-top: auto;
}

/* ===============

OUR TEAM

===================*/

.out-teams .h-section1 {
  height: 800px;
}

.out-teams .h-section1 .banner_site {
  background: #f2f8ff;

  animation: none;

  position: relative;

  overflow: hidden;
}

.out-teams .banner_site .tw-content {
  max-width: 81%;

  margin: 0 auto;

  padding: 160px 0 0 0;

  position: relative;

  z-index: 1;
}

.out-teams .banner_site .tw-content h1 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 22px;

  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: var(--color-heading);

  margin-bottom: 39px;
}

.out-teams .banner_site p {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 42px;

  line-height: 44px;

  color: var(--color-heading);
}

.section-video .card-video {
  margin-top: -18rem;

  z-index: 1;

  position: relative;
}

.section-video .card-video iframe {
  height: 600px;

  width: 100%;

  border-radius: 10px;
}

.section-video .card-video img {
  border-radius: 10px;

  width: 100%;
}

.section-video .card-video span {
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  height: 120px;

  width: 120px;

  line-height: 120px;

  text-align: center;

  background: var(--color-link);

  opacity: 0.9;

  border-radius: 50%;

  font-size: 48px;

  color: var(--color-white);
}

.out-teams .section_02 .tw-content {
  padding: 157px 0 27px;
}

.out-teams .section_02 .profile {
  margin-bottom: 19px;
}

.out-teams .section_02 .profile ._skill_story {
  width: 74.35%;

  padding-top: 2px;
}

.out-teams .section_02 .profile ._skill_story .__skill_inner {
  margin-bottom: 37px;
}

.out-teams .section_02 .profile ._skill_story .__skill_avatar {
  position: relative;
}

.out-teams .section_02 .profile ._skill_story .__skill_avatar::after {
  content: "";

  position: absolute;

  bottom: 1px;

  left: 0;

  width: 100%;

  height: 50%;

  background: linear-gradient(90deg, #187cfa 0%, rgba(24, 124, 250, 0) 100%);

  opacity: 0.4;

  filter: blur(70px);

  z-index: -1;
}

.out-teams .section_02 .profile ._skill_story .__skill_avatar img {
  margin-top: -210px;

  width: 100%;
}

.out-teams .section_02 .profile .__skill_inner_main {
  width: 20%;

  flex-direction: column;

  flex-shrink: 0;

  margin-right: 100px;
}

.out-teams .section_02 .profile .__skill {
  margin-bottom: 0 !important;

  font-family: "TT Commons Regular" !important;

  font-size: 16px !important;

  line-height: 20px !important;

  color: var(--color-secondary-text) !important;

  font-weight: 400 !important;
}

.out-teams .section_02 .profile h4 {
  margin-top: auto;

  margin-bottom: 30px;

  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 24px;

  line-height: 28px;

  color: var(--color-black);
}

.out-teams .section_03 {
  background: #f2f8ff;

  padding: 120px 0;
}

.out-teams .section_03 .list-member-leader {
  overflow: hidden;
}

.out-teams .section_03 h2 {
  margin-bottom: 38px;
}

.out-teams .section_03 .list-member-inner img {
  height: 350px;

  width: 100%;

  object-fit: cover;

  margin-bottom: 16px;

  border-radius: 10px;
}

.out-teams .section_03 .list-member-inner h4 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 24px;

  line-height: 28px;

  color: var(--color-heading);
}

.out-teams .section_03 .list-member-inner p {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  color: var(--color-secondary-text);
}

.out-teams .section_04 {
  padding: 110px 0;
}

.out-teams .section_04 .content_right {
  width: 57.3%;
}

.out-teams .section_04 .list-testimonial {
  overflow: hidden;
}

.out-teams .section_04 .content_right ._content {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 24px;

  line-height: 28px;

  color: var(--color-black);
}

.out-teams .section_04 .content_right ._avatar {
  margin: 50px 0 40px 0;
}

.out-teams .section_04 .content_right ._avatar img {
  height: 70px;

  width: 70px;

  border-radius: 50%;

  object-fit: cover;

  margin-right: 18px;
}

.out-teams .section_04 .content_right ._avatar .__text h4 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 24px;

  line-height: 28px;

  color: var(--color-black);
}

.out-teams .section_04 .content_right ._avatar .__text p {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  color: var(--color-secondary-text);
}

.careers .title_careers {
  max-width: 42%;
}

.careers .section_01 .tw-content {
  padding: 120px 0 120px 0;
}

.careers .section_01 .description_careers {
  width: 48.6%;
}

.list-member-carrers .swiper-slide img {
  width: 100%;

  height: 453px;

  object-fit: cover;

  border-radius: 10px;
}

.list-member-carrers .swiper-slide {
  width: 60%;
}

.list-member-carrers .swiper-slide:nth-child(2n) {
  width: 40%;
}

.list-member-carrers .swiper-slide:nth-child(3n) {
  width: 20%;
}

.careers .section_02 {
  padding: 120px 0 26px 0;
}

.careers .section_02 .sub-heading {
  margin-bottom: 16px;
}

.careers .section_02 .tw-title {
  margin-bottom: 60px;
}

.careers .section_02 ._our_team_benefits {
  flex-wrap: wrap;

  margin-left: -64px;
}

.careers .section_02 ._our_team_benefits .__item_benefit {
  width: calc(33.33% - 64px);

  margin-left: 64px;

  margin-bottom: 84px;
}

.careers .section_02 ._our_team_benefits img {
  height: 60px;

  width: 60px;

  object-fit: contain;

  margin-bottom: 17px;
}

.careers .section_02 ._our_team_benefits h4 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 24px;

  line-height: 28px;

  color: var(--color-black);

  margin-bottom: 11px;
}

.careers .section_03 ._location_list .bg-image {
  width: 100%;

  height: 600px;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;
}

.careers .section_03 ._location_list .text_location {
  padding-top: 100px;
}

.careers .section_03 ._location_list .text_location span,
.careers .section_03 ._location_list .text_location h2 {
  color: var(--color-white);
}

.careers .section_03 ._location_list .text_location span {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 22px;

  text-transform: uppercase;

  letter-spacing: 0.03em;
}

.section_04.careers_main {
  padding: 86px 0 121px 0;
}

.section_04.careers_main ._left h2 {
  margin-bottom: 64px;
}

.form_search form .all-feild .field-item {
  margin-right: 0;

  margin-bottom: 47px;
}

.form_search form .all-feild .field-item label {
  font-size: 18px;

  line-height: 24px;

  color: var(--color-secondary-text);

  margin-bottom: 7px;
}

.section_04.careers_main ._right {
  width: 74.3%;
}

.all-feild-select ._input select,
.all-feild ._input select {
  border: none;

  width: 120px;

  outline: none;

  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 18px;

  line-height: 22px;

  background: none;
}

.all-feild-select ._input select#research_area {
  width: 170px;
}

.previous_speakers .all-feild-select ._input select {
  width: 160px;

  margin-bottom: 28px;
}

.section_04.careers_main ._jobs ul {
  padding: 0;

  margin: 0;

  list-style: none;
}

.section_04.careers_main ._jobs ul li .--location {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  color: var(--color-secondary-text);
}

.section_04.careers_main ._jobs {
  position: relative;
}

.section_04.careers_main ._jobs ul li {
  padding: 16.5px 0 16.5px;

  border-bottom: 1px solid var(--color-tertiary-text);
}

.section_04.careers_main ._jobs ul li .--name {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 24px;

  line-height: 28px;

  letter-spacing: -0.01em;

  color: var(--color-black);

  margin-bottom: 7px;

  display: block;
}

.section_04.careers_main ._jobs .pagination-common {
  text-align: left;

  margin-top: 52px;
}

/* Careers Detail */

.publication_detail .section-1,
.careers_detail .section-1 {
  background: var(--color-link);

  padding: 152px 0 120px 0;
}

.careers_detail .section-1 .location {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  color: var(--color-white);

  margin-top: 0;
}

.careers_detail .section-1 h2 {
  margin: 0;

  color: var(--color-white);
}

.careers_detail .section-2 .careers_detail_desc {
  width: 74.36%;
}

.careers_detail .section-2 .careers_detail_desc ul {
  margin: 0;
}

.careers_detail .section-2 .careers_detail_title h4 {
  margin: 0;
}

.careers_detail .section-2 .careers_detail_inner {
  padding: 100px 0 89px 0;
}

.careers_detail .section-2 .careers_detail_inner:not(:last-child) {
  border-bottom: 1px solid var(--color-tertiary-text);
}

.careers_detail .section-3 {
  background: #f2f8ff;

  padding: 112px 0 123px 0;

  position: relative;

  overflow: hidden;
}

.careers_detail .section-3 h2 {
  position: relative;

  z-index: 1;
}

.careers_detail .section-3 .shape-one {
  left: -70%;
}

.careers_detail .title-explore-jobs {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 22px;

  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: var(--color-secondary-text);

  margin-bottom: 52px;
}

/* Pulications Detail */

.detail_single .section-1 .location span {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  margin-right: 32px;
}

.detail_single .section-1 .location span i {
  margin-right: 5px;
}

.publication_detail .section-1 .location span {
  color: var(--color-white);
}

.publication_detail .section-1 h2 {
  color: var(--color-white);
}

.detail_single .section-2 {
  padding: 56px 0 36px 0;
}

.publication_detail .__right .content-option {
  display: none;

  padding-bottom: 48px;

  border-bottom: 1px solid var(--color-tertiary-text);

  margin-bottom: 36px;
}

.publication_detail .__right .content-option.is-active {
  display: block;
}

.publication_detail .section-2 .careers_detail_inner {
  padding-top: 45px 0 36px 0;
}

.detail_single .section-2 .__left {
  width: 34.3%;
}

.detail_single .section-2 .__right {
  width: 65.7%;
}

.publication_detail .section-2 .__right .option {
  padding-bottom: 74px;
}

.publication_detail .section-2 .__right .content-option h3 {
  margin: 0;

  margin-bottom: 20px;
}

.publication_detail .section-2 .__right .option span {
  margin-right: 30px;

  color: var(--color-black);
}

.publication_detail .section-2 .__right .option .btn-view-detail-home {
  margin-top: 0;
}

.detail_single .section-2 .__right .btn-view-detail-home img {
  margin-left: 0;

  margin-right: 10px;
}

.publication_detail .section-2 .__right .option span a {
  color: var(--color-black);

  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 18px;

  line-height: 22px;

  cursor: pointer;
}

.publication_detail .section-2 .__right .option span.active a {
  color: var(--color-link);

  border-bottom: 2px solid var(--color-link);
}

.publication_detail .section-3 ._right .__item,
.detail_single .section-3 ._right .__item {
  width: 100%;
}

.detail_single .section-2 .__left .__left_item {
  width: 70%;
}

.detail_single .section-2 .__left .__left_item:first-child {
  border-top: 1px solid var(--color-tertiary-text);
}

.detail_single .section-2 .__left .__left_item:not(:last-child) {
  border-bottom: 1px solid var(--color-tertiary-text);
}

.detail_single .section-2 .__left li img {
  margin-right: 10px;
}

.detail_single .section-2 .__left .__left_item ul {
  margin: 0;

  padding: 26px 0;

  list-style: none;
}

.detail_single .section-2 .__left .__left_item .__item_user span {
  color: var(--color-link);
}

.detail_single .section-2 .__left .__left_item ul p {
  margin: 0;
}

.detail_single .section-2 .__left .__left_item_info ul li:not(:last-child) {
  padding-bottom: 20px;
}

.detail_single .section-2 .__left .__left_item ul li.__item_user {
  align-items: baseline;
}

.publication_detail .section-2 .__left .__left_item_download a {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 18px;

  line-height: 22px;

  color: var(--color-link);
}

.detail_single .section-2 .__left .__left_item_share span {
  display: block;

  padding: 26px 0 0px 0;

  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 22px;

  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: var(--color-secondary-text);
}

.detail_single .section-2 .__left .__left_item_share li a {
  background-color: #f2f8ff;

  margin-bottom: 10px;
}

.detail_single .section-2 .__left .__left_item_share li a:hover {
  background-color: var(--color-link);

  color: var(--color-white) !important;
}

.detail_single .section-3 {
  padding: 94px 0 100px 0;

  background: #f2f8ff;
}

.detail_single .section-3 ._right h2 {
  margin-bottom: 46px;
}

.detail_single ._related_list {
  margin-right: -30px;
}

.detail_single .careers_detail_inner .the_article h3,
.detail_single .careers_detail_inner .the_article p {
  margin-bottom: 20px;
}

/* New Page */

.news_page .banner_page {
  position: relative;

  overflow: hidden;

  background: #f2f8ff;
}

.news_page .banner_page h1 {
  color: var(--color-heading);
}

.news_page .banner_page .shape-one {
  left: -70%;

  top: 113%;
}

.news_page .banner_page .shape-two {
  left: -70%;

  top: 0%;
}

.banner_page .tw-container .tw-content {
  color: var(--color-black);

  padding: 142px 0;
}

.news_page .section_02 {
  padding: 70px 0 100px 0;

  background: #f2f8ff;
}

/* Blog Detail */

.news_detail .section-1 {
  background: var(--color-white);

  padding: 152px 0 120px 0;
}

.news_detail .section-1 .location span {
  color: var(--color-black);
}

.news_detail .section-1 .location span i {
  color: #979797;

  margin-right: 5px;
}

.news_detail .thumbnail img {
  height: 456px;

  width: 100%;

  object-fit: cover;
}

.news_detail ._related_list .__item {
  padding: 0;
}

.news_detail ._related_list a.thumbnail {
  height: 200px;

  width: 100%;

  display: block;

  overflow: hidden;
}

.news_detail ._related_list a.thumbnail .--bg {
  width: 100%;

  height: 100%;

  background-position: center;

  background-size: cover;

  transition: 0.4s;

  border-radius: 10px 10px 0px 0px;
}

.news_detail .the_article iframe {
  width: 100%;

  height: 400px;

  border-radius: 10px;
}

.the_article img {
  margin: 0 auto;
}

/* Publications Page */

.banner-research .tw-container {
  position: relative;

  z-index: 1;
}

.banner-research .banner_page {
  background: #f2f8ff;
}

.banner-research .tw-content p.des_research_area {
  display: none;
}

.banner-research .tw-content p.des_research_area.is--active {
  display: block;
}

.banner-research .tw-content .research-title h1 {
  margin-bottom: 46px;

  color: var(--color-heading);
}

.banner-research .research-description {
  width: 48.72%;
}

.banner-research .research-title .title_soldier {
  margin-bottom: 9px;
}

.banner-research .research-title ._soldier a {
  margin-bottom: 6px;
}

.banner-research .research-title ._soldier a i {
  font-size: 16px;

  margin-left: 10px;
}

.research-blog {
  margin-top: -42px;
}

.research-blog .section_02 {
  background: #f2f8ff;

  padding-bottom: 100px;
}

.category_link {
  margin-bottom: 58px;
}

.category_link a {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  display: block;

  margin-right: 29px;

  font-size: 24px;

  line-height: 28px;

  color: var(--color-heading);

  position: relative;

  z-index: 1;
}

.products .category_link a:not(:last-child) {
  margin-right: 0;
}

.category_link a.is--active,
.category_link a:hover {
  color: var(--color-link);
}

.research-blog form .all-feild .field-item.--input {
  width: 66%;
}

.research-blog form .all-feild .field-item.--input ._input {
  border: 1px solid #dbebff;

  border-radius: 10px;

  background: var(--color-white);

  padding: 0 20px;
}

.research-blog form .all-feild .field-item.--input ._input input {
  width: calc(100% - 28px);

  padding: 0;

  border: none;

  border-radius: 10px;

  height: 60px;

  outline: none;

  font-size: 17px;

  color: var(--color-secondary-text);
}

.research-blog .all-feild-select .--select {
  margin-right: 42px !important;
}

.research-blog .all-feild-select .field-item:last-child {
  margin-right: 0 !important;
}

.list-publications-global {
  margin-right: -30px;
}

.list-publications-global .__item {
  width: calc(33.33% - 30px);

  margin-right: 30px;

  background: #ffffff;

  padding: 40px 33px 32px 33px;

  border-radius: 10px;

  margin-bottom: 30px;

  display: flex;

  flex-direction: column;

  transition: 0.4s;
}

.list-publications-global .__item:hover,
.speaker-item:hover {
  box-shadow: 0px 12px 15px rgb(9 108 216 / 10%);
}

.list-publications-global .__item .--description {
  display: flex;

  flex-direction: column;
}

.list-publications-global .__item .--description .sub-heading {
  margin-bottom: 8px;
}

.list-publications-global .__item .--member {
  padding-bottom: 40px;
}

.list-publications-global .__item h4 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 24px;

  line-height: 28px;

  color: var(--color-black);

  margin-bottom: 24px;

  transition: 0.4s;
}

.list-publications-global .__item h4:hover {
  color: var(--color-link);
}

.list-publications-global .__item .--member img {
  margin-bottom: 9px;
}

.list-publications-global .__item .--member span {
  color: var(--color-link);
}

.list-publications-global .__item .--control {
  margin-top: auto;
}

.list-publications-global .__item .--control_download {
  height: 28px;

  width: 28px;

  text-align: center;

  line-height: 21px;

  border: 1.5px solid var(--color-link);

  border-radius: 50%;

  display: block;

  color: var(--color-link);

  transition: 0.4s;
}

.list-publications-global .__item .--control_download:hover {
  color: var(--color-white);

  background-color: var(--color-link);
}

.list-publications-global .__item .--control_download i {
  font-size: 12px;
}

.research-blog .paginate_links {
  text-align: center;

  margin-top: 10px;
}

.news ._list_news .__item {
  padding: 0;
}

/* ==============

    SEMINAR PAGE

===============*/

.seminar-page .banner_page {
  background: #f2f8ff;

  position: relative;

  overflow: hidden;
}

.seminar-page .banner_page h1 {
  color: var(--color-heading);
}

.banner_page .tw-container .tw-content {
  position: relative;

  z-index: 1;
}

.seminar-page .description_seminar {
  width: 57%;
}

.seminar-page .category_link {
  margin-bottom: 14px;
}

.tab-seminar {
  margin-top: -42px;
}

.seminar-page .page-content {
  background: #f2f8ff;

  padding: 149px 0 112px 0;

  margin-top: 14px;
}

.seminar-page .section_02 {
  padding-bottom: 149px;
}

.seminar-page h2.tw-title {
  margin-bottom: 44px;
}

.grid-speakers {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  grid-column-gap: 30px;

  grid-row-gap: 30px;
}

.speaker-item {
  background: var(--color-white);

  border-radius: 10px;

  transition: 0.4s;
}

.speaker-item p {
  margin: 0;
}

.speaker-item .avatar {
  width: 100%;

  height: 370px;
}

.speaker-item .avatar img {
  width: 100%;

  height: 100%;

  object-fit: cover;

  border-radius: 10px 10px 0 0;
}

.speaker-item .info {
  padding: 28px 20px 38px;
}

.speaker-item .info i {
  color: var(--color-secondary-text);

  font-size: 17px;

  margin-right: 10px;
}

.speaker-item .info h3.name {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 24px;

  line-height: 28px;

  text-align: left;

  color: var(--color-heading);

  transition: 0.4s;
}

.speaker-item .info h3.name:hover {
  color: var(--color-link);
}

.speaker-item .info .work_place {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  text-align: left;

  color: var(--color-secondary-text);

  margin-bottom: 26px;
}

.speaker-item .info .title-post {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  color: var(--color-black);

  margin-bottom: 18px;
}

.upcoming_speakers .speaker-item .info .title-post {
  min-height: 40px;
}

.speaker-item .info .time_takes_place {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  color: var(--color-black);
}

.previous_speakers .grid-speakers {
  grid-template-columns: repeat(4, 1fr);
}

.previous_speakers .speaker-item .avatar {
  height: 270px;
}

.previous_speakers .speaker-item .info .title-post {
  min-height: 62px;
}

.previous_speakers .speaker-item .info .work_place {
  min-height: 40px;
}

.previous_speakers .pagination-common {
  margin-top: 50px;
}

.seminar-page-single .section-1 {
  background: #f2f8ff;

  padding: 152px 0 120px 0;

  position: relative;

  overflow: hidden;
}

.seminar-page-single .section-1 .tw-content {
  position: relative;

  z-index: 1;
}

.seminar-page-single .about-speaker {
  margin-bottom: 40px;
}

.about-speaker .about-content {
  width: 63%;

  padding-top: 51px;
}

.about-speaker .about-content .sub-heading {
  display: block;

  margin-bottom: 10px;
}

.about-speaker .about-img {
  width: 31%;

  height: 370px;

  margin-top: -60px;

  position: relative;
}

.about-speaker .about-img img {
  height: 100%;

  width: 100%;

  object-fit: cover;

  border-radius: 10px;
}

.seminar-page-single .section-3 .abstract-speaker {
  padding: 42px 38px;

  background: #dbebff;

  border-radius: 10px;

  margin-bottom: 40px;
}

.seminar-page-single .section-3 .abstract-speaker .title-about {
  margin-bottom: 13px;

  display: block;
}

.seminar-page-single .section-3 .abstract-speaker i {
  color: var(--color-link);

  margin-right: 8px;
}

.seminar-page-single .feature_image iframe {
  margin-bottom: 89px;
}

.seminar-page-single .feature_image iframe,
.workshop-page-single .feature_image iframe {
  width: 100%;

  height: 630px;

  border-radius: 10px;
}

.seminar-page-single .section-5 {
  position: relative;

  padding-bottom: 86px;
}

.seminar-page-single .section-5::before {
  content: "";

  background: #f2f8ff;

  height: 1220px;

  width: 100%;

  bottom: 0;

  left: 0;

  z-index: -1;

  position: absolute;
}

.seminar-page-single .section-5 .tw-title {
  margin-bottom: 55px;
}

/*=============

WORKSHOP PAGE

==============*/

.workshop-page .speaker-item .info h3.name,
.workshop-page-single .speaker-item .info h3.name {
  min-height: 56px;

  margin-bottom: 14px;
}

.workshop-page-single .section-1 {
  padding: 152px 0 91px 0;
}

.workshop-page-single .section-2 {
  padding: 71px 0;
}

.about-workshop .about-content {
  margin-right: 41px;
}

.about-workshop .about-content,
.about-workshop .about-content-time {
  width: 50%;
}

.about-workshop .about-content .sub-heading {
  display: block;

  margin-bottom: 11px;
}

.about-workshop .about-content .tw-button-common {
  margin-top: 40px;
}

.about-workshop .about-content-time ul {
  margin: 0;

  padding: 0;

  list-style: none;

  padding: 40px 32px;

  background: #dbebff;

  border-radius: 10px;
}

.about-workshop .about-content-time ul li {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: normal;

  font-size: 16px;

  line-height: 22px;

  letter-spacing: 0.03em;

  color: var(--color-black);
}

.about-workshop .about-content-time ul li p {
  text-transform: uppercase;
}

.about-workshop .about-content-time ul li span {
  font-family: "TT Commons Regular";
}

.about-workshop .about-content-time ul li .fontWieght {
  font-family: "TT Commons Medium";
}

.about-workshop .about-content-time ul li:not(:last-child) {
  margin-bottom: 15px;
}

.program-detail-list {
  max-width: 66%;

  margin: 0 auto;
}

.program-detail-list table {
  width: 100%;

  text-align: left;
}

.workshop-page-single .detail-list .program-time,
.workshop-page-single .detail-list .program-speaker {
  width: 20%;
}

.workshop-page-single .detail-list .program-topic {
  width: 60%;
}

.workshop-page-single .detail-list p {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 18px;

  line-height: 24px;

  color: var(--color-black);
}

.workshop-page-single .detail-list p span {
  color: var(--color-link);
}

.workshop-page-single .detail-list p:not(:last-child) {
  margin-right: 54px;
}

.workshop-page-single .detail-list .title-detail-list,
.workshop-page-single .detail-list .content-detail-list {
  border-bottom: 1px solid var(--color-tertiary-text);

  padding: 16px 0;
}

.workshop-page-single .section-4 {
  padding: 55px 0 81px 0;
}

.workshop-page-single .program-detail-list h3 {
  margin-bottom: 36px;
}

.workshop-page-single .program-detail-list .more-infor {
  margin-top: 30px;
}

.workshop-page-single .section-5 {
  background: #f2f8ff;

  padding: 152px 0 110px 0;
}

.workshop-page-single .section-5 .upcoming_speakers h2 {
  margin-bottom: 36px;
}

/* ===========

RESIDENCY PAGE

==============*/

.ai-residency {
  background: #f2f8ff;
}

.ai-residency .h-section1 {
  height: 100%;
}

.ai-residency .h-section1 .banner_site {
  background: #f2f8ff;

  animation: none;

  position: relative;

  overflow: hidden;
}

.ai-residency .banner_site .tw-content {
  max-width: 81%;

  margin: 0 auto;

  padding: 160px 0 321px 0;

  position: relative;

  z-index: 1;
}

.ai-residency .banner_site .shape-two {
  top: -150%;
}

.ai-residency .banner_site h1,
.ai-residency .banner_site p {
  margin-bottom: 30px;
}

.ai-residency .section-video .card-video {
  margin-top: -156px;
}

.ai-residency .section-2 {
  padding: 89px 0 104px 0;
}

.research-track .title-research {
  margin-right: 130px;
}

.research-track .title-research {
  margin-right: 130px;
}

.research-track .title-research img {
  margin-bottom: 26px;
}

.research-track .title-research h2 {
  margin-bottom: 22px;
}

.research-engineer-track .title-research,
.research-engineer-track .benefit-require {
  width: 50%;
}

.research-track .title-research p {
  margin-bottom: 20px;
}

.research-track .benefit-require h3 {
  margin-bottom: 15px;
}

.research-track .benefit-require-detail {
  padding: 40px;

  background: var(--color-white);

  border-radius: 10px;
}

.research-track .benefit-require-detail ul {
  padding: 0px;

  margin: 0;

  list-style: none;
}

.research-track .benefit-require-detail ul li {
  position: relative;

  padding-left: 25px;
}

.research-track .benefit-require-detail ul li::after {
  content: url("../images/check-icon.svg");

  position: absolute;

  height: 16px;

  width: 16px;

  top: 0;

  left: 0;

  line-height: 26px;
}

.research-track .benefit-research {
  margin-bottom: 30px;
}

.ai-residency .section-3 {
  background: var(--color-heading);

  padding: 108px 0 100px 0;
}

.ai-residency .section-3 .title-research {
  margin-right: 0;
}

.ai-residency .section-3 .title-research h2,
.ai-residency .section-3 .title-research p {
  color: var(--color-white);
}

.ai-residency .section-3 .benefit-require {
  margin-right: 130px;
}

.ai-residency .section-4 {
  padding: 100px 0;
}

.ai-residency .section-5 {
  background: var(--color-white);

  padding: 100px 0 60px 0;
}

.ai-residency .section-5 .__item {
  margin-bottom: 0;
}

.ai-residency .achievement-inner {
  margin-bottom: 36px;
}

.ai-residency .alumni_network_list {
  width: 83%;
}

.ai-residency .alumni_network .alumni_network_list {
  display: grid;

  grid-template-columns: repeat(5, 1fr);

  grid-gap: 30px;

  margin-right: 0;
}

.ai-residency .alumni_network_list .list-member-inner {
  width: 100%;
}

.ai-residency .alumni_network_list .list-member-inner img {
  height: 220px;

  width: 100%;

  object-fit: cover;

  border-radius: 10px;

  margin-bottom: 17px;
}

.ai-residency .alumni_network_list .list-member-inner h4 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 20px;

  line-height: 24px;

  color: var(--color-heading);

  margin-bottom: 4px;
}

.ai-residency .alumni_network_list .list-member-inner p {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  color: var(--color-secondary-text);
}

.ai-residency .section-6 {
  padding: 0px 0 120px 0;

  background: var(--color-white);
}

.faqs ul {
  padding: 0;

  margin: 0;

  width: 100%;

  list-style: none;
}

.faqs ul li:first-child {
  border-top: 1px solid var(--color-tertiary-text);
}

.faqs ul li {
  border-bottom: 1px solid var(--color-tertiary-text);

  padding: 26px 0;
}

.faqs ul .accordion-inner {
  overflow: hidden;

  display: none;

  list-style: none;

  margin-top: 16px;
}

.faqs ul .accordion-inner li {
  padding: 0;

  border: none;
}

.faqs li a.accordion-toggle {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  color: var(--color-black);

  display: flex;

  align-items: center;

  position: relative;
}

.faqs li a.accordion-toggle p {
  font-size: 24px;

  line-height: 28px;

  word-break: break-word;

  padding: 0px 23px 0 0;
}

li a.accordion-toggle:hover {
  color: var(--color-link);
}

.accordion a .fa-chevron-down {
  position: relative;

  color: var(--color-black);

  -webkit-transition: all 0.4s ease;

  -o-transition: all 0.4s ease;

  transition: all 0.4s ease;
}

.faqs li a.accordion-toggle .fa-question-circle {
  font-size: 24px;

  color: var(--color-tertiary-text);

  margin-right: 15px;
}

.accordion a.chev .fa-chevron-down,
.faqs li a.chev .fa-question-circle {
  color: var(--color-link);
}

.accordion a .fa-chevron-down {
  font-size: 14px;

  float: right;

  position: absolute;

  right: 2%;
}

.accordion a.chev .fa-chevron-down {
  -webkit-transform: rotate(0deg);

  -ms-transform: rotate(0deg);

  -o-transform: rotate(0deg);

  transform: rotate(180deg);
}

/* ==============

  ACHIVEMENTS PAGE

=================*/

.achivements-page {
  background: #f2f8ff;
}

.achivements-page .section_02 {
  padding: 0px 0 100px 0;

  background: #f2f8ff;
}

.achivements-page .banner_page .tw-content {
  padding: 126px 0 36px 0;
}

/*=============

PRODUCT PAGE

===============*/

.tab_products.fixed {
  position: fixed;

  width: 100%;

  top: 60px;

  z-index: 2;

  margin: 0;

  background: #001355;

  padding: 14px;
}

.tab_products.fixed .category_link {
  margin-bottom: 0;
}

.products .banner_page .tw-container {
  height: 100%;
}

.products .banner_page .tw-content {
  display: flex;

  align-items: center;

  height: 100%;

  padding: 0;
}

.products .banner_page {
  background: #001355;

  position: relative;

  overflow: hidden;

  height: 600px;
}

.products .banner_page .shape-one {
  position: absolute;

  width: 120%;

  height: 693.61px;

  left: -70%;

  top: -60%;

  background: linear-gradient(90deg, #187cfa 0%, rgba(24, 124, 250, 0) 100%);

  opacity: 0.4;

  filter: blur(70px);

  border-radius: 70.7124px;

  transform: rotate(35.74deg);
}

.products .banner_page .shape-two {
  position: absolute;

  width: 120%;

  height: 693.61px;

  right: 150%;

  top: 40%;

  background: linear-gradient(90deg, #187cfa 0%, rgba(24, 124, 250, 0) 100%);

  opacity: 0.4;

  filter: blur(100px);

  border-radius: 70.7124px;

  transform: rotate(135deg);
}

.products ul {
  padding: 0;
}

.products ul li {
  list-style: none;
}

.product-page .h-section1 p {
  color: var(--color-white);

  margin-bottom: 15px;
}

.product-page .h-section1 .tw-content {
  width: 68%;
}

.product-page .h-section1 h2 {
  color: var(--color-white);
}

.product-page .h-section1 h2 span {
  color: var(--color-link);
}

.product-page .section-2 {
  padding-top: 122px;
}

.product-page .section-2 ._left {
  flex: 1 0 0%;

  margin-right: 64px;
}

.product-page .section-2 ._right {
  width: 57%;

  flex: 0 0 auto;

  height: 467px;
}

.product-page .section-2 ._right img,
.product-driver ._right img {
  height: 100%;

  width: 100%;

  object-fit: cover;

  border-radius: 10px;
}

.product-page .section-2 .__left_2 {
  order: 1;

  margin-right: 0;

  margin-left: 64px;
}

.product-page .section-2 .product-detail {
  padding-bottom: 210px;

  position: relative;
}

.product-page .section-2 .product-detail .readmore-product {
  margin-top: 23px;
}

.product-page .section-2 .product-detail-1::before {
  content: "";

  position: absolute;

  top: 18%;

  left: 69%;

  background: linear-gradient(
    270deg,
    #82ffff 0.04%,
    rgba(130, 255, 255, 0) 99.83%
  );

  opacity: 0.4;

  filter: blur(60px);

  border-radius: 70.7124px;

  height: 100%;

  width: 50%;

  transition: transform 6s ease-in 0s;

  animation-duration: 3.2s;

  animation-name: paragato;

  animation-iteration-count: infinite;

  animation-direction: alternate;

  -webkit-animation-duration: 3.2s;

  -webkit-animation-name: paragato;

  -webkit-animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;

  -webkit-animation-timing-function: ease-in-out;

  animation-timing-function: ease-in-out;

  z-index: -1;
}

.product-page .section-2 .product-detail h4 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 24px;

  line-height: 28px;

  color: var(--color-link);

  margin-bottom: 23px;

  margin-top: 7px;
}

.product-page .section-2 .product-detail .btn-view-detail {
  margin-top: 0;

  margin-bottom: 7px;
}

.product-page .section-2 .product-detail .desc p {
  margin-bottom: 20px;
}

.product-page .section-2 .product-detail .title_main_btn {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 18px;

  line-height: 24px;

  color: var(--color-black);

  margin-bottom: 7px;

  display: block;
}

.products ._text {
  width: 58%;

  color: var(--color-white);
}

.product-flatform ._text {
  width: 100%;
}

.products ._text .sub-heading {
  margin-bottom: 15px;

  color: var(--color-white);
}

.products ._text .tw-title {
  margin-bottom: 18px;

  color: var(--color-white);
}

.tab_products a {
  color: var(--color-white);
}

.tab_products .category_link a:not(:last-child) {
  margin-right: 50px;
}

.products .section_02 {
  padding: 62px 0 110px 0;
}

.product-driver .section_02 ._left {
  flex: 1 0 0%;

  padding-right: 31px;
}

.product-driver .section_02 ._left .text_nummber {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 100px;

  line-height: 120px;

  color: var(--color-link);
}

.products .section_02 ._left .text_sub {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  color: var(--color-black);

  margin-bottom: 32px;
}

.products .section_02 ._left .text_heading {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: normal;

  font-size: 42px;

  line-height: 44px;

  color: var(--color-black);
}

.product-driver .section_02 ._right {
  width: 57%;

  flex: 0 0 auto;
}

.product-driver .section_03 {
  background: #f2f8ff;

  padding: 120px 0;
}

.product-driver .section_03 ._left,
.product-driver .section_03 ._right {
  width: 50%;
}

.product-driver .section_03 h3 {
  margin-bottom: 38px;
}

.product-driver .section_03 ul li:not(:last-child) {
  margin-bottom: 29px;
}

.product-driver .section_03 ul li img {
  margin-right: 15px;

  height: 25px;

  width: 25px;
}

.product-driver .section-video {
  padding: 120px 0;

  background: var(--color-black);
}

.product-driver .section-video .card-video {
  margin-top: 0;
}

.product-driver .section_04 {
  padding: 113px 0 130px 0;

  background: var(--color-heading);
}

.product-driver .section_04 h2 {
  margin-bottom: 37px;

  color: var(--color-white);
}

.product-driver .section_04 .list-techonogy {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  grid-gap: 30px;
}

.product-driver .section_04 ._item {
  padding: 50px;

  background: var(--color-white);

  border-radius: 10px;
}

.product-driver .section_04 ._item img {
  margin: 0 auto 21px auto;
}

.product-driver .section_05 {
  padding: 120px 0 61px 0;
}

.product-driver .section_05 h2 {
  flex: 1 0 0%;
}

.product-driver .section_05 li:not(:last-child) {
  margin-bottom: 52px;
}

.product-driver .section_05 li i {
  margin-right: 20px;

  height: 40px;

  width: 40px;

  line-height: 40px;

  background: #dbebff;

  text-align: center;

  border-radius: 50%;

  display: block;

  font-size: 13px;

  color: var(--color-link);

  flex: 0 0 auto;
}

.product-driver .section_05 li span {
  flex: 1 0 0%;

  font-size: 24px;

  line-height: 28px;
}

.product-driver .section_05 .list-why-us {
  width: 65%;

  flex: 0 0 auto;
}

.product-driver .section_05 .list-why-us ul {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  grid-gap: 30px;
}

.product-surround .section_02 {
  padding-bottom: 80px;
}

.product-surround .section_02 ._left .text_sub {
  margin-bottom: 15px;
}

.product-surround .section-video {
  background: var(--color-white);

  padding: 0 0 120px 0;
}

.product-surround .section_05 .list-why-us {
  width: 100%;
}

.product-surround .section_05 .list-why-us ul {
  grid-template-columns: repeat(3, 1fr);
}

.product-surround .section_05 h2 {
  margin-bottom: 56px;
}

.product-guard .section_02 ._left .text_heading {
  margin-bottom: 21px;
}

.product-guard .section_02 ._left .text_sub {
  margin-bottom: 0;
}

.product-guard .section_03 ul li h5 {
  font-size: 20px;

  line-height: 24px;

  font-weight: 500;

  margin-bottom: 10px;
}

.product-guard .section_03 .tw-content ul li ul {
  padding-left: 20px;

  list-style: disc;
}

.product-guard .section_03 .tw-content ul li ul li {
  margin-bottom: 0;

  width: 439px;
}

.product-flatform .section_02 ._right img {
  margin: auto;
}

.product-flatform .section_02 ._left .text_sub {
  margin-bottom: 60px;
}

.product-flatform .section_02 ._left .number-chart li {
  position: relative;

  padding-left: 60px;

  margin-bottom: 35px;

  display: block;
}

.product-flatform .section_02 ._left .number-chart li span {
  position: absolute;

  height: 45px;

  width: 45px;

  border-radius: 50%;

  left: 0;
}

.product-flatform .section_02 ._left .number-chart li.blue-1 span {
  background: #82ffff;
}

.product-flatform .section_02 ._left .number-chart li.blue-2 span {
  background: var(--color-link);

  margin-bottom: 49px;
}

.product-flatform .section_02 ._left .number-chart .desc {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;

  color: var(--color-tertiary-text);
}

.product-flatform .smart-data .smart-data-number {
  padding: 56px 0 52px 0;

  border-bottom: 1px solid var(--color-tertiary-text);

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-gap: 109px;
}

.product-flatform .smart-data .smart-data-number h2 {
  color: var(--color-link);

  margin-bottom: 9px;
}

.product-flatform .smart-data .smart-data-number h4 {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 24px;

  line-height: 28px;

  color: var(--color-black);

  margin-bottom: 6px;
}

.product-flatform .smart-data h2 {
  margin-bottom: 19px;
}

.product-flatform .smart-data .smart-data-icon {
  padding: 62px 0 73px 0;
}

.product-flatform .smart-data .smart-data-icon .data-icon {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-gap: 92px;
}

.product-flatform .smart-data .smart-data-icon .description {
  margin-top: 36px;

  color: var(--color-tertiary-text);

  width: 76%;

  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 16px;

  line-height: 20px;
}

.product-flatform .smart-data .smart-data-icon img {
  height: 52px;

  width: 53px;

  margin-bottom: 22px;
}

.product-flatform .list-gallery .swiper-slide {
  width: 375px !important;

  height: 270px;
}

.product-flatform .list-gallery .swiper-slide img {
  width: 100%;

  height: 100%;

  object-fit: cover;
}

.product-flatform .list-gallery .swiper-pagination-gallery {
  text-align: center;

  padding: 57px 0 73px 0;
}

.product-flatform .title-reimaging h2 {
  margin-bottom: 19px;
}

.product-flatform .title-reimaging p {
  margin-bottom: 46px;
}

.product-flatform .features .description {
  font-size: 16px;

  line-height: 20px;

  color: var(--color-tertiary-text);

  margin-top: 39px;
}

.prodcut-chart {
  width: 60%;

  display: block;

  overflow: hidden;

  margin: 0 auto;

  border-radius: 4px;
}

.prodcut-chart canvas {
  background: #fff;

  height: 100% !important;

  width: 100% !important;
}

.tab-item {
  display: none;
}

/* Panigation */

.pagination-common .paginate_links .page-numbers,
.pagination-common .paginate_links li {
  border-radius: 50%;

  width: 50px;

  height: 50px;

  margin: 0 4px;

  font-family: "TT Commons Medium";

  font-size: 18px;

  line-height: 50px;

  text-align: center;

  color: var(--color-white);

  display: inline-block;

  background: var(--color-tertiary-text);
}

.pagination-common .paginate_links .page-numbers a,
.pagination-common .paginate_links li a {
  color: #34404b;
}

.pagination-common .paginate_links .page-numbers.current,
.pagination-common .paginate_links .page-numbers.is--active,
.pagination-common .paginate_links .page-numbers:hover,
.pagination-common .paginate_links .page-numbers.current {
  background: var(--color-link);

  color: var(--color-white);
}

.pagination-common .paginate_links .page-numbers.current a,
.pagination-common .paginate_links .page-numbers.is--active a,
.pagination-common .paginate_links li.current a,
.pagination-common .paginate_links li.is--active a {
  color: #ffffff;
}

.pagination-common .paginate_links .page-numbers.next a,
.pagination-common .paginate_links .page-numbers.prev a,
.pagination-common .paginate_links li.next a,
.pagination-common .paginate_links li.prev a {
  color: #3391e6;
}

/*=================

 404 PAGE

=================*/

.404-page h1 {
  color: var(--color-link) !important;
}

/* =================

FOOTER

==================*/

#popup-form.fancybox-content {
  position: relative;

  width: 50%;

  border-radius: 10px;

  background: #f2f8ff;

  background-image: url("/wp-content/uploads/2021/12/bk-form.png");

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  padding: 44px 30px !important;
}

.form-contact {
  max-width: 100%;
}

.form-contact h3 {
  font-size: 36px;

  line-height: 40px;

  letter-spacing: -0.01em;

  font-size: 36px;

  line-height: 40px;

  margin-bottom: 27px;

  text-align: center;
}

.form-contact .input {
  margin-bottom: 15px;
}

.form-contact .srk {
  width: 100%;

  background: var(--color-white);

  padding: 19px 20px;

  border: none;

  border-radius: 10px;

  outline: none;

  font-size: 18px;

  line-height: 24px;

  border: 1px solid #dbebff;
}

.form-contact .wpcf7-not-valid-tip {
  font-size: 13px;
}

.form-contact textarea.srk {
  height: 145px;
}

.form-contact .input-group {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  grid-gap: 15px;
}

.form-contact .checkbox-416 .ck label {
  display: flex;
}

.form-contact .checkbox-416 .ck label input {
  margin-right: 10px;
}

.form-contact .private {
  margin-bottom: 35px;
}

.form-contact .checkbox-416 .ck .wpcf7-list-item {
  display: inline-block;

  font-size: 12px;

  line-height: 12px;
}

.form-contact .submit-form {
  text-align: center;
}

.form-contact .submit-form .wpcf7-spinner {
  display: block;
}

.form-contact .wpcf7-submit {
  color: var(--color-white);

  font-size: 15px;

  line-height: 19px;

  font-weight: 600;

  cursor: pointer;
}

.footer-top {
  background-image: url("https://www.vinai.io/wp-content/uploads/2021/11/bk-footer-contact.jpg");

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;
}

.home .footer-top {
  background: var(--color-white);
}

.footer-top {
  padding: 140px 0 140px 0;

  text-align: center;
}

.footer-top h2 {
  margin-bottom: 20px;

  color: var(--color-white);
}

.footer-top p {
  margin-bottom: 42px;

  color: var(--color-white);
}

.home .footer-top h2,
.home .footer-top p {
  color: var(--color-black);
}

.footer-main {
  background-color: #f2f8ff;

  position: relative;

  padding: 101px 0 29px 0;
}

.footer-main .footer_menu {
  position: relative;

  z-index: 1;
}

.footer-main .footer_menu .__item {
  width: 33.33% !important;
}

.footer-main .footer_menu .__item h4 {
  color: var(--color-black);

  margin-bottom: 19px;

  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 24px;

  line-height: 28px;
}

.footer-main ul {
  padding: 0;

  margin: 0;

  list-style: none;
}

.footer-main .footer_menu .__item li a {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 18px;

  line-height: 35px;

  color: var(--color-black);

  border: none;

  margin-bottom: 0;

  display: block;

  transition: 0.4s;
}

.footer-main .footer_menu .__item li a:hover {
  color: var(--color-link);
}

.footer-main .footer_menu .__item li span {
  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 22px;

  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: var(--color-link);

  margin-bottom: 4px;

  display: block;

  margin-bottom: 4px;
}

.footer-main .footer_menu .__item .text-product-footer li a {
  line-height: 22px !important;
}

.footer-main .footer_menu .__item .text-product-footer li:not(:last-child) {
  margin-bottom: 13px;
}

.footer-main .footer_menu .__item li.text-mail-footer a {
  font-size: 36px !important;

  line-height: 40px !important;

  color: var(--color-link) !important;
}

.footer-main .footer_menu .__item .__list-social {
  margin-top: 50px;
}

.footer-main .footer_menu .__item .__list-social li a:hover,
.footer-main .footer_menu .__item .__list-social li a:focus {
  background-color: var(--color-link);

  color: var(--color-white) !important;
}

.footer_contact ul.__list-copyright li:not(:last-child) {
  margin-right: 30px;
}

.footer_contact ul.__list-copyright li a {
  color: var(--color-black);

  font-family: "TT Commons Medium";

  font-style: normal;

  font-weight: 500;

  transition: 0.4s;
}

.footer_contact ul.__list-copyright li a:hover {
  color: var(--color-link);
}

.footer_contact ._item-copyright {
  margin-top: 153px;
}

.footer_contact ul.__list-copyright p {
  font-family: "TT Commons Regular";

  font-style: normal;

  font-weight: 400;

  font-size: 15px;

  line-height: 35px;

  color: var(--color-black);
}
