#mobile,
.mb {
  display: none;
}

@media (min-width: 1230px) {}

@media (min-width: 1440px) {

}

@media (min-width: 1500px) {

}

@media (min-width: 1800px) {

}

@media (max-width: 1776px) {
  .h-section3 .tw-content .content_temp .background-opacity {
	  max-width: 54.4%;
  }
}

@media (max-width: 1556px) {
  .h-section3 .tw-content .content_temp .background-opacity {
	  max-width: 54%;
  }
}

@media (max-width: 1440px) {
  .h-section3 .tw-content .content_temp .background-opacity {
	  max-width: 53.6%;
  }
}

@media (max-width: 1248px) {
  .h-section3 .tw-content .content_temp .background-opacity {
	  max-width: 53%;
  }
}

@media (max-width: 1200px) {
  .tw-container {
    padding: 0 50px;
  }
}

@media (max-width: 1024px) {
  .tw-container {
    padding: 0 30px;
  }
  
  .home .h-section1,
.page-template-products .h-section1  {
	  height: 60vh;
  }

  .h-section2 .tw-container .tw-content {
    padding: 120px 0 180px 0;
  }
  
  .h-section3 .content_temp p {
    margin-bottom: 50px;
  }

  .h-section3 .image-member .image_temp {
    margin-top: -48px;
  }

  .swiper_home_product_image img {
    margin-right: 28em;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .swiper_home_product_content {
    padding-left: 50px;
    padding-right: 40px;
  }
  
  .swiper_home_product .swiper-pagination {
	  bottom: 5%;
  }

  .h-section4 .tw-content ._right {
    padding: 0;
  }
  
  .home .tw-button-common {
	  display: inline-block;
	  margin-bottom: 15px;
  }
  
   #popup-form.fancybox-content {
	  width: auto;
  }

  /* ABout Page */
  .about-us .content_banner_site .tw-content h1 {
    width: 100%;
  }

  .out-teams .section_02 .profile .__skill_inner_main {
    width: 25%;
  }

  .out-teams .section_02 .profile ._skill_story .__skill_avatar img {
    margin-top: -123px;
  }

  /* Pulications */

  .list-publications-global {
    margin-right: -20px;
  }
  .list-publications-global .__item {
    width: calc(33.33% - 20px);
    margin-right: 20px;
  }
  
.all-feild-select ._input select, .all-feild ._input select {
	width: 100px;
}

  /* AI Residency */
  .ai-residency .alumni_network_list {
    margin-right: 0;
  }

  /* Single Detail */
}

@media screen and (max-width: 1023px) {
  #mobile {
    display: block;
  }
  #desktop {
    display: none;
  }
  .tw-container {
    padding: 0 30px;
  }

  .flex-direction-colum {
    flex-direction: column;
  }

  .w-100 {
    width: 100% !important;
    padding: 0;
  }

  h1 {
    font-size: 50px;
    line-height: 55px;
  }

  h2 {
    font-size: 36px;
    line-height: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 29px;
  }

  .header-main .header-content .tw-container .tw-content {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .header-main .header-content .tw-content ul.menu-main a {
    font-size: 14px;
    display: block;
  }

  /* home */
  h1 {
    font-size: 70px;
    line-height: 75px;
  }

  .h-section2 .tw-container .tw-content {
    padding: 100px 0;
  }
  
  .h-section2 .tw-container .tw-content .left {
	  margin-bottom: 40px; 
  }

  .h-section3 .tw-content .content_temp {
    position: relative;
	padding: 80px 0;
  }
  
  .h-section3 .image-member .image_temp {
	  height:500px;
	  background-position: center;
	  max-width: 100%;
  }
  
  .h-section3 .tw-content .content_temp .background-opacity {
	  display: none;
  }
  
  .h-section3 .content_temp .tw-content {
	  max-width: 100%;
  }

  .h-section3 .image-member .image_temp {
    margin-top: 0;
  }
  
  .home .h-section3 {
	  padding-bottom: 80px
  }
  
    .swiper_home_product_content h1 {
    margin-top: 23.5px;
    margin-bottom: 15px;
  }

  .h-section4 .tw-content ._right {
    padding: 80px 30px;
  }

  .h-section6 .tw-content ._img {
    width: 25%;
  }

  .swiper_home_product_content {
    padding-left: 0;
  }

  .swiper_home_product_image .swiper-pagination {
    height: auto;
  }
  
  .swiper_home_product_image {
	  width: 100%;
  }
  
 

  /* About Page */
  .about-us .content_banner_site .tw-content h1 {
	  font-size: 40px;
	  line-height: 45px;
  }
  .about-us .tw-container .tw-content ._item .__left {
    width: 100%;
    margin-bottom: 30px;
  }

  .about-us .__right .__item_description {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .about-us .section_02 .list-who-item img {
    height: 182px;
  }

  .about-us .section_02 .tw-container .tw-content,
  .careers_detail .section-2 .careers_detail_inner,
  .seminar-page .page-content,
  .out-teams .section_02 .tw-content,
  .ai-residency .section-5,
  .ai-residency .section-4,
.workshop-page-single .section-5,
.detail_single .section-3,
.product-driver .section_03,
.product-driver .section-video,
.product-driver .section_04,
.product-driver .section_05  {
    padding: 80px 0;
  }

  .about-us .section_02 .tw-container .tw-content {
    padding-bottom: 0;
  }

  .section_04.our-teams-common {
    padding: 80px 0 290px 0;
  }

  .out-teams .section_02 .tw-title {
    margin-bottom: 30px;
  }

  .section-video .card-video {
    margin-top: -10rem;
  }

  .out-teams .section_02 .profile ._skill_story .__skill_avatar img {
    margin: -60px auto 45px;
  }

  .out-teams .section_02 .profile .__skill_inner_main {
    width: 33%;
  }
  
  .section-video .card-video iframe {
	  height: 400px;
  }

  .out-teams .section_04 .tw-title {
    margin-bottom: 38px;
  }

  .careers .section_01 .tw-content {
    padding: 180px 0 80px 0;
  }
  
    .careers .title_careers {
	max-width: 100%;
}

  .careers .section_01 .title_careers h1 {
    margin-bottom: 30px;
  }

  .careers .section_02 ._our_team_benefits .__item_benefit {
    width: calc(50% - 64px);
  }

  .careers .section_03 ._location_list .bg-image {
    height: 400px;
  }

  .section_04.careers_main ._left h2 {
    margin-bottom: 40px;
  }

  .section_04.careers_main .all-feild {
    display: flex;
  }
  
  .form_search form .all-feild {
	align-items: flex-start;
  }

  .form_search form .all-feild .field-item {
    margin-bottom: 20px;
  }
  
  .research-blog form .all-feild .field-item.--input {
	  width: 100%
  }

  .careers_detail .section-2 .careers_detail_title h4 {
    margin-bottom: 30px;
  }

  /* Publications */
  .research-page .h-section1 {
    height: 100vh;
  }

  .about-us .h-section1 {
    height: 60vh;
  }
  .research-blog {
    margin-top: 0;
  }
  .research-blog .section_02 {
    padding: 0px 0 80px 0;
  }

  .research-blog .tw-container .tw-content .category_link {
    margin-bottom: 60px;
    margin-top: -40px;
  }

  .research-blog .tw-content .all-feild-select {
    margin-bottom: 30px;
  }

  .research-page .h-section1 .tw-content p {
    font-size: 16px;
    line-height: 20px;
  }

  .research-page .section_02 ._list_news .__item .--description {
    padding: 0 !important;
  }

  .list-publications-global {
    margin-right: -20px;
  }

  .list-publications-global .__item {
    width: calc(50% - 20px);
    margin-right: 20px;
  }

  .research-page .research-title {
    margin-bottom: 20px;
  }

  .research-page .h-section1 .tw-content p {
    font-size: 25px;
    line-height: 30px;
  }

  /* Detail Pulications */
  .detail_single ._related_list.list-publications-global .__item {
    width: calc(100% - 30px);
  }

  .detail_single .section-2 .__left .__left_item ul.__list-social {
    display: flex;
  }

  .publication_detail .__right .content-option {
    margin-bottom: 0;
  }

  .publication_detail .__right .btn-view-detail-home {
    margin-top: 0;
    padding: 21px 0;
  }

  /* New Detail */
  .news_detail .thumbnail img {
    height: 270px;
  }
  .detail_single .btn-view-detail-home {
    padding-bottom: 21px;
  }

  .news_detail .section-1,
  .publication_detail .section-1 {
    padding-bottom: 70px;
  }
  
  .news_detail .the_article iframe {
	  height: 200px;
  }

  /*================
SEMINAR PAGE
=================*/
  .upcoming_speakers .grid-speakers {
    grid-template-columns: repeat(1, 1fr);
  }

  .previous_speakers .grid-speakers {
    grid-template-columns: repeat(2, 1fr);
  }

  .seminar-page-single .feature_image iframe,
  .workshop-page-single .feature_image iframe {
    height: 350px;
  }

  .about-speaker .about-content {
    padding-top: 0;
  }

  .about-speaker .about-img {
    margin-bottom: 30px;
  }

  .seminar-page-single .section-5::before {
    height: 100%;
  }

  .seminar-page .section_02 {
    padding-bottom: 80px;
  }

  .seminar-page .category_link {
    margin-bottom: 0;
  }

  .seminar-page .category_link {
    padding-bottom: 0;
    margin: 0;
  }

  .seminar-page-single .section-1 {
    padding-bottom: 150px;
  }

  .about-speaker .about-img {
    margin-top: -85px;
  }

  .seminar-page-single .section-5 {
    padding-top: 80px;
  }
  
  .previous_speakers .speaker-item .info .title-post,
.previous_speakers .speaker-item .info .work_place,
.upcoming_speakers .speaker-item .info .title-post,
.workshop-page .speaker-item .info h3.name, 
.workshop-page-single .speaker-item .info h3.name {
	min-height: auto;
}
 
  /* ============
    WORKSHOP
  =================*/
  .program-detail-list {
    max-width: 100%;
  }

  .about-workshop .about-content .tw-button-common {
    margin-bottom: 46px;
  }

  .workshop-page-single .program-detail-list h3 {
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }

  /* ==========
  AI RESODENCY
  ============*/
  .ai-residency .banner_site .tw-content {
    padding-bottom: 265px;
  }
  .research-track .title-research {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .ai-residency .faqs .alumni_network_list {
    margin-right: 0;
  }

  .ai-residency .alumni_network .alumni_network_list {
    grid-template-columns: repeat(2, 1fr);
  }

  .ai-residency .section-3 {
    padding: 90px 0 80px 0;
  }
  .faqs li a.accordion-toggle p {
	font-size: 20px;
	line-height: 23px; 
	padding: 0px 23px 0 0;
  }
  
  /*===========
	PRODUCT PAGE
  ============*/
  
  .product-page .section-2 {
	  padding-top: 50px;
  }
  
 .product-page .section-2 ._right {
	 margin-bottom: 44px;
 }
 
 .product-page .section-2 ._left {
	 margin-right: 0;
	 margin-left: 0 !important;
	 order: 1;
 }
 
 .product-page .section-2 .product-detail {
	 padding-bottom: 80px
 }
  
  .products .section_02 {
	  padding: 60px 0 80px 0;
  }
  
  .product-driver .section_02 ._left {
	  margin-right: 0;
	  padding-right: 0;
  }
  
  .product-driver .section_02 ._left .text_heading {
	  font-size:30px;
	  line-height: 35px;
	  margin-bottom: 44px;
  }
  
  .product-driver .section_03 ._left ul {
	  margin-bottom: 67px;
  }
  
  .product-driver .section_04 .list-techonogy {
	  grid-template-columns: repeat(1, 1fr);
  }
  
  .product-driver .section_05 .list-why-us ul {
	  grid-template-columns: repeat(1, 1fr);
	  grid-gap: 42px;
  }
  
  .product-driver .section_05 h2 {
	  margin-bottom: 51px;
  }
  
    .product-driver .section_05 li:not(:last-child) {
	  margin-bottom: 0;
  }
  
  .tab_products .category_link {
	margin-bottom: 0;
}

.product-surround .section_02 {
	padding-bottom: 0;
}

.product-surround .section-video {
	padding-top: 0;
}

.product-guard .section_03 .tw-content ul li ul  li {
	width: 100%;
}

.product-guard .section_02 ._left .text_sub {
	margin-bottom: 58px;
}

.product-flatform .section_02 ._left .number-chart .desc {
	margin-bottom: 77px;
}

.product-flatform .smart-data .smart-data-number,
.product-flatform .smart-data .smart-data-icon .data-icon {
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 43px;
}

._related_list  .swiper-wrapper {
	margin-bottom: 30px;
}
  

  /* Footer */
  .footer-main .footer_menu ._menu_ft {
    flex-wrap: nowrap;
  }

  .footer_contact .__list-copyright {
    margin-bottom: 20px;
  }

  .footer_contact ._item-copyright {
    margin-top: 50px;
  }
  
  .footer-main .footer_menu .__item {
	  padding-right: 20px;
  }
}
@media screen and (max-width: 765px) {
  .pc {
    display: none;
  }
  .mb {
    display: block;
  }
  .tw-container {
    padding: 0 30px;
  }

  /* Header */
  .header-main {
    bottom: 0;
    right: 0;
    top: 60px;
    transform: translateX(-100%);
  }
  .header-main.is--active {
    transform: translateX(0);
  }
  .header-main .header-content {
    background: var(--color-white);
  }
  
  .header-main .header-content {
	  height: 100%;
  }
  
  .header-main .header-content .tw-container .tw-content ._logo {
	  display: none;
  }
  
.header-main .header-content .tw-content ul.menu-main a > i {
	height: 30px;
    width: 30px;
    position: absolute;
    line-height: 30px;
    text-align: center;
	transition: .4s;
}

.header-main .header-content .tw-content ul.menu-main a > i:focus {
	transform: rotate(180deg);
}

  .page-template-about-us
    .header-main
    .header-content
    .tw-content
    ul.menu-main
    a,
  .single-careers .header-main .header-content .tw-content ul.menu-main a,
  .single-publications .header-main .header-content .tw-content ul.menu-main a {
    color: var(--color-black);
  }

  #header-main .header-main.is--active .header-content,
  .navigation_m.is--active {
    background: #f2f8ff;
    border-bottom: none;
  }
  

  #header-main.shrink .navigation_m {
    background: var(--color-white);
	box-shadow: 0px 12px 15px rgb(9 108 216 / 10%);
  }

  #header-main.shrink .navigation_m.is--active {
    background: #f2f8ff;
  }

  .header-main .header-content .tw-container .tw-content {
    flex-direction: column;
    height: auto;
    padding: 80px 0 0 0;
    align-items: flex-start;
  }

  .header-main .header-content .tw-content ul.menu-main {
    flex-direction: column;
    margin-top: 0;
  }

  .header-main .header-content .tw-content ul.menu-main > li {
    margin: 0;
    margin-bottom: 15px;
  }
 

  .header-main .header-content .tw-content ul.menu-main a {
    font-size: 24px;
    line-height: 28px;
  }

  .header-main .header-content .tw-content ul.menu-main > li > ul {
    background: #f2f8ff;
	margin-top: 14px;
	position: initial;
    box-shadow: unset;
    padding: 0;
    width: 100%;
  }

  .header-main
    .header-content
    .tw-content
    ul.menu-main
    > li
    > ul
    > li:not(:last-child) {
    padding-bottom: 7px !important;
  }
  
.header-main .header-content .tw-content ul.menu-main > li > ul.list_mega > li:not(:last-child) {
	padding-bottom: 23px !important;
}

  .header-main .header-content .tw-content ul.menu-main > li > ul a {
    font-size: 16px;
    line-height: 19px;
  }

  .navigation_m {
    display: flex;
  }

  .coating-site {
    display: block; 
  }
 

  /* Home */
  .home .h-section1 #webgl-canvas {
	top: 0 !important;
	transform: rotate(164deg) !important;
}
  h1 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 12px;
  }
  .flex-direction-colum {
    flex-direction: column;
  }

  .w-100 {
    width: 100% !important;
    padding: 0;
  }
  
  .h-section1 .content_banner_site .tw-content h3 {
	font-size: 25px;
	line-height: 30px;
  }
  
  .home .h-section1,
.page-template-products .h-section1  {
    height: 100vh;
}

.home .content_temp_product h2 {
	padding-top: 0;
}
.ai-products::after {
	left: 40%;
}

  .h-section5,
  .h-section6,
  .footer-top,
  .out-teams .section_03,
  .out-teams .section_04,
  .section_04.careers_main {
    padding: 80px 0;
  }

  .h-section2 .tw-container .tw-content {
    padding: 80px 0 235px;
  }

  .h-section2 .tw-container .tw-content .right p {
    font-size: 30px;
    line-height: 35px;
  }

  .h-section3 {
    padding-bottom: 50px;
  }
  .h-section3::after {
	  display: none;
  }
  
  .swiper_home_product_image {
	  width: 100%;
	  height: 240px;
  }

  .h-section3 .tw-content .content_temp {
    margin-right: 0;
  }

  .h-section3 .content_temp p {
    margin-bottom: 40px;
  }

  .swiper_home_product {
    padding-bottom: 60px;
  }

  .swiper_home_product_content .btn-view-detail-home {
    margin-top: 22px;
  }

  .swiper_home_product .swiper-pagination {
    bottom: 0%;
  }

  .ai-products::before {
    display: none;
  }

  .swiper_home_product_content {
    padding: 0;
  }

  .h-section4 .tw-content ._right {
    padding: 46px 0 80px 0;
  }

  .h-section6 .tw-content ._img {
    width: 100%;
  }

  .h-section6 .tw-content ._img img {
	width: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
  }
  
  .list-logo-partners .swiper-pagination-logo {
	text-align: center;
  }

  .tw-button-common {
    display: table;
  }

  .tw-button-common.btn-light {
    margin-left: 0;
  }

  /* About Page */
  .about-us .h-section1 {
    height: 100vh;
  }
  .out-teams .banner_site p {
    font-size: 30px;
    line-height: 35px;
  }

  .section-video .card-video {
    margin-top: -6rem;
  }

  .section-video .card-video span {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 25px;
  }

  .out-teams .section_02 .profile ._skill_story .__skill_avatar img {
    margin-top: -70px;
    margin-bottom: 0;
  }

  .out-teams .section_02 .profile h4 {
    margin-top: 30px;
    margin-bottom: 14px;
  }

  .out-teams .section_04 .content_right ._content {
    font-size: 18px;
    line-height: 25px;
  }
  
  .section-video .card-video iframe {
	  height: 200px;
  }

  .careers .section_01 .tw-content {
    padding: 140px 0 80px 0;
  }

  .list-member-carrers .swiper-slide img {
    height: 290px;
  }

  .list-member-carrers .swiper-slide {
    width: 60%;
  }

  .list-member-carrers .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .list-member-carrers .swiper-slide:nth-child(3n) {
    width: 85%;
  }

  .careers .section_02 {
    padding: 74px 0 26px 0;
  }

  .careers .section_02 .tw-title {
    margin-bottom: 38px;
  }
  


  .careers .section_02 ._our_team_benefits .__item_benefit {
    width: calc(100% - 64px);
  }

  .careers .section_03 ._location_list .bg-image {
    height: 470px;
  }

  .careers .section_03 ._location_list .text_location {
    padding-top: 50px;
  }

  .form_search form .all-feild .field-item {
    width: 50%;
  }

  .section_04.careers_main ._jobs ul li .--name {
    font-size: 20px;
    line-height: 24px;
  }

  /* ============
    CAREERS DETAIL
  ==============*/
  .careers_detail .section-1 {
    padding: 199px 0 30px 0;
  }

  /* ==========
  Panigation
  ==============*/
  .pagination-common .paginate_links .page-numbers,
  .pagination-common .paginate_links li {
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  /* Pulications */
  .research-page .the_content ._list_news .__item {
    padding: 20px;
  }

  .research-page .the_content ._list_news {
    flex-direction: colum;
  }

  .research-page .h-section1 .tw-content p {
    font-size: 16px;
    line-height: 21px;
  }
  
.all-feild-select ._input select, .all-feild ._input select {
	font-size: 16px;
	line-height: 21px;
}

  .list-publications-global .__item {
    width: 100%;
  }

  .research-page .news .the_content ._list_news .__item {
    padding: 0;
  }

  .research-page .the_content ._list_news .__item {
    margin-right: 0;
  }

  .research-blog .tw-container .tw-content .category_link {
    margin-bottom: 60px;
    margin-top: -40px;
  }

  /* Detail Pulications */
  .publication_detail ._related_list,
  .list-publications-global {
    margin-right: 0;
  }

  .detail_single ._related_list.list-publications-global .__item {
    width: 100%;
    margin-right: 0;
  }

  .detail_single ._related_list,
  .list-publications-global .__item {
    margin-right: 0;
  }

  /* New Page */
  .news_page .section_02 {
    padding: 30px 0 53px 0;
  }

  .section-1 .location {
    margin-bottom: 22px;
  }

  /*=================
SEMINAR PAGE
===================*/

  .grid-speakers,
  .previous_speakers .grid-speakers {
    grid-template-columns: repeat(1, 1fr);
  }

  .seminar-page-single .feature_image iframe,
  .workshop-page-single .feature_image iframe {
    height: 200px;
    margin-bottom: 30px;
  }

  .speaker-item .avatar {
    height: 270px;
  }

  .seminar-page-single .section-3 .abstract-speaker {
    margin-bottom: 30px;
  }


  /* ===========
    WORKSHOP
  ==============*/

  .workshop-page-single .section-2 {
    padding-bottom: 30px;
  }

  /* =========
  AI RESIDENCY
  ============*/
  .ai-residency .banner_site .tw-content {
    max-width: 100%;
    padding-bottom: 150px;
  }

  .ai-residency .banner_site .tw-button-common {
    display: inline-block;
    margin-top: 20px;
  }

  .ai-residency .section-video .card-video {
    margin-top: -56px;
  }

  .ai-residency .achievement-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .ai-residency .achievement-inner h2 {
    margin-bottom: 8px;
  }

  .ai-residency .alumni_network .tw-content,
  .ai-residency .faqs .tw-content {
    flex-direction: column;
  }

  .ai-residency .alumni_network_list {
    width: 100%;
  }

  .ai-residency .alumni_network_inner {
    margin-bottom: 30px;
  }

  .ai-residency .alumni_network .alumni_network_list {
    grid-gap: 20px;
  }

  .ai-residency .alumni_network_list .list-member-inner img {
    height: 192px;
  }

  .ai-residency .section-6 {
    padding-bottom: 80px;
  }
  
  
  
  /*==========
	PRODUCT PAGE
  ===========*/
  
  .category_link a {
	font-size: 22px;
}
  
  .product-page .section-2 ._right {
	  height: 230px;
  }
.tab_products a {
	font-size: 19px;
	margin-right: 0;
	text-align: center;
	padding-bottom: 14px;
}


.tab_products .category_link a::before {
	bottom: 0;
}

.tab_products.fixed {
	padding: 14px 0 0 0;
}

.tab_products .tw-container {
	padding: 0 10px;
}

.product-flatform .smart-data .smart-data-number,
.product-flatform .smart-data .smart-data-icon .data-icon {
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 43px;
}

.prodcut-chart {
	width: 100%;
	margin-left: 10px;
}

/*=============
404 PAGE
==============*/
.not-found-main {
    font-size: 18px;
    line-height: 35px;
  }
  .not-found-main .img-404 {
    width: 70%;
  }
  /*=============
	FOOTER 
  ============*/
  
  #popup-form h2 {
	  font-size: 21px;
  }
  .form-contact {
	  max-width: 100%;
  }
  .footer_contact ._item-copyright {
    margin-top: 30px;
  }

  .footer-main .footer_menu ._menu_ft {
    flex-wrap: wrap;
	flex-direction: column;
  }
  
.footer-main .footer_menu .__item {
	width: 100% !important;
	margin-bottom: 64px;
	padding-right: 0 !important;
}

  .footer_contact .__list-copyright {
    margin-bottom: 30px;
  }

  .footer_contact ._item-copyright p {
    text-align: center;
  }

  .footer-top .tw-button-common {
    display: inline-flex;
  }
}

@media (max-width: 480px) {
}
