$border: #DEE3FF;
.ai-technology-page{
    .ai-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
        .swiper-pagination-bullet{
            background-color: $white;
            margin: 0 6px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            opacity: 1;
            &.swiper-pagination-bullet-active{
                background-color: transparent;
                width: 14px;
                height: 14px;
                border: 3px solid $white;
                box-sizing: border-box;
            }
        }
        &.blue{
            .swiper-pagination-bullet{
                background-color: #4B7EFF;
                &.swiper-pagination-bullet-active{
                    background-color: transparent;
                    border: 3px solid #4B7EFF;
                }
            }
        }
    }
    .ai-btn-next,.ai-btn-prev{
        opacity: 1 !important;
        width: auto;
        height: auto;
        background-image: none;
        outline: none;
        @media(max-width: 480px){
            img{
                width:18px;
            }
        }
    }

    h2.title{
        font-family: "Gilroy-Bold";
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        background: radial-gradient(48.16% 66.3% at 50% -25.57%, #187CFA 0%, rgba(0, 113, 255, 0) 100%), radial-gradient(88.34% 219.21% at 85.74% 115.5%, #187CFA 0%, #1C37C6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media(max-width: 480px){
            font-size: 30px;
            line-height: 39px;
        }
    }

    .ai-card{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(45.21% 50.28% at 98.27% 46.37%, rgba(125, 92, 255, 0.11) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(154.41% 75.84% at 30.68% 100.06%, rgba(28, 55, 198, 0.147) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        box-shadow: 1px 10px 10px rgba(28, 55, 198, 0.02), 10px 20px 20px rgba(28, 55, 198, 0.04), 20px 30px 30px rgba(28, 55, 198, 0.06), 55px 65px 44px rgba(28, 55, 198, 0.05);
        border-radius: 20px;
        padding: 39px 0px 34px;
        @media(max-width: 480px){
            padding: 30px 0;
        }
        h3.title{
            height: 90px;
            overflow: hidden;
            font-family: "Gilroy-Bold"; 
            font-size: 28px;
            line-height: 30px;
            text-align: center;
            color: #1C37C6;
            padding: 0 10px;
            margin-bottom: 0;
            @media(max-width: 480px){
                font-size: 23px;
                line-height: 26px;
                height: 78px;
            }
        }
        .img{
            width: 100%;
            padding: 0 28px;
            height: 212.12px;
            margin-bottom: 20px;
            @media(max-width: 480px){
                height: 155px;
                padding: 0 28px;
            }
            img{
                max-height: 100%;
                max-width: 100%;
                margin:  0 auto;
            }
        }
        .description{
            padding: 0 18px 0px 28px;
            font-size: 16px;
            line-height: 25px;
            color: #272831;
            padding: 0 10px 0 15px;
            .scroll-auto{
                height: 225px;
                overflow: auto;
                padding-right: 6px;
                @media(max-width: 480px){
                    text-align: justify;
                }
                &::-webkit-scrollbar {
                    width: 4px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #1c37c64d;
                    border-radius: 10px;
                }
            }
        }
    }
    
    
    // content
    .banner{
        margin-top: 60px;
        background-image: url('./assets/images/common/loading.gif');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100px;
        @media(max-width: 768px){
            margin-top: 131.47px;
        }
        @media(max-width: 480px){
            margin-top: 60px;
        }
        .swiper-container{
            .swiper-slide{
                width: 100%;
                height: 480px;
                @media(min-width: 1920px){
                    height: 600px;
                }
                @media(max-width: 768px){
                    height: 420px;
                }
                @media(max-width: 480px){
                    height: 200px;
                }
                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
            .ai-pagination{
                bottom: 25px;
                @media(max-width: 480px){
                    bottom: 15px;
                }
            }
            .ai-btn-next{
                right: percentage(26/1440);
                @media(max-width: 480px){
                    right: 15px;
                }
            }
            .ai-btn-prev{
                left: percentage(26/1440);
                @media(max-width: 480px){
                    left: 15px;
                }
            }
        }
    }

    .ai-autonomous{
        position: relative;
        border-bottom: 13px solid $border;
        background-color: $white;
        .tw-container{
            position: relative;
            z-index: 1;
            .tw-content{
                padding-top: 103px;
                padding-bottom: 165px;
                color: #272831;
                font-size: 18px;
                line-height: 32px;
                font-family: "Gilroy-Medium";
                @media(max-width: 1024px){
                    padding-top: 80px;
                    padding-bottom: 120px;
                }
                @media(max-width: 768px){
                    padding-top: 60px;
                    padding-bottom: 80px;
                }
                @media(max-width: 480px){
                    font-size: 16px;
                    line-height: 26px;
                    font-family: "Gilroy-Regular";
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
                h2.title{
                    margin-bottom: 21.3px;
                }
                .the-content{
                    padding-left: percentage(573/1440);
                    padding-right: percentage(257/1440);
                    @media(max-width: 1200px){
                        padding-left: percentage(400/1200);
                        padding-right: 50px;
                    }
                    @media(max-width: 1024px){
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                    @media(max-width: 480px){
                        padding: 0 15px;
                        text-align: justify;
                    }
                }
            }
        }
        .decor-left{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            @media(max-width: 1024px){
                left: -120px;
            }
            @media(max-width: 480px){
                display: none;
            }
            img{
                width: auto;
                height: 100%;
            }
        }
        .decor-top{
            position: absolute;
            top: 56px;
            right: 116.85px;
            @media(max-width: 1024px){
                right: 50px;
                img{
                    width: 100px;
                }
            }
            @media(max-width: 480px){
                right: 15px;
                top: 40px;
                img{
                    width: 60px;
                }
            }
        }
        .decor-rb{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .ai-autonomous-sub{
        position: relative;
        border-bottom: 13px solid $border;
        height: 715px;
        @media(max-width: 768px){
            height: auto;
        }
        & > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .tw-container{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            @media(max-width: 768px){
                position: initial;
                transform: unset;
                left: unset;
            }
            .tw-content{
                width: 100%;
                height: 100%;
                .sticky{
                    width: 452px;
                    height: 528px;
                    background: linear-gradient(0deg, #1C37C6, #1C37C6);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 20px 40px 50px rgb(100 110 163 / 15%);
                    border-radius: 15px;
                    color: $white;
                    font-size: 18px;
                    line-height: 32px;
                    padding: 58px 43px 84px 50px;
                    margin-top: -36px;
                    margin-left: percentage(258/1440);
                    position: relative;
                    @media(max-width: 1200px){
                        margin-left: 50px;
                    }
                    @media(max-width: 1024px){
                        margin-left: 30px;
                        padding: 50px 30px 87px;
                    }
                    @media(max-width: 768px){
                        width: 100%;
                        height: auto;
                        margin-top: 0;
                        border-radius: 0;
                        margin-left: 0;
                        box-shadow: none;
                    }
                    @media(max-width: 480px){
                        font-size: 16px;
                        line-height: 26px;
                        padding: 30px 15px 80px;
                        text-align: justify;
                    }
                    .scroll-auto{
                        height: 100%;
                        overflow: auto;
                        &::-webkit-scrollbar {
                            width: 3px;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 6px;
                        }
                    }
                    .car{
                        position: absolute;
                        right: 46.07px;
                        bottom: 28px;
                    }
                }
            }
        }
    }

    .voice-language-personal-assistant{
        background: linear-gradient(0deg, rgba(28, 55, 198, 0.05), rgba(28, 55, 198, 0.05)), #FFFFFF;
        position: relative;
        .tw-container{
            position: relative;
            z-index: 1;
            .tw-content{
                padding-top: 90px;
                @media(max-width: 480px){
                    padding-top: 40px;
                }
                h2.title{
                    margin-bottom: 48.15px;
                    @media(max-width: 480px){
                        margin-bottom: 30px;
                    }
                }
                .the-content{
                    padding: 0 percentage(100/1440);
                    overflow: hidden;
                    position: relative;
                    @media(max-width: 1200px){
                        padding: 0 50px;
                    }
                    @media(max-width: 1024px){
                        padding: 0 30px;
                    }
                    @media(max-width: 480px){
                        padding: 0 15px;
                    }
                    .swiper-container{
                        overflow: initial;
                        padding-bottom: 135px;
                        @media(max-width: 480px){
                            padding-bottom: 100px;
                        }
                        .swiper-slide{
                            transition: .5s;
                            @media(max-width: 480px){
                                transition: 0;
                            }
                            &.swiper-slide-prev{
                                opacity: 0;
                                @media(max-width: 1024px){
                                    opacity: 1;
                                }
                            }
                            &.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide{
                                opacity: 0;
                                @media(max-width: 1024px){
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .ai-pagination{
                        bottom: 60px;
                        left: 0;
                        right: 0;
                        @media(max-width: 480px){
                            bottom: 40px;
                        }
                    }
                }
            }
        }
        .decor-kc{
            position: absolute;
            top: 40px;
            left: percentage(88/1440);
            @media(max-width: 480px){
                left: 15px;
                top: 30px;
                img{
                    width: 60px;
                }
            }
        }
        &::before{
            content: "";
            position: absolute;
            width: percentage(460/1440);
            height: 393px;
            background-image: url('./assets/images/common/cb1.svg');
            background-position: top left -20px;
            bottom: 207px;
            left: 0;
        }
    }

    .ai-edge-intelligence{
        background: #DEE3FF;
        position: relative;
        .tw-container{
            position: relative;
            z-index: 1;
            .tw-content{
                padding: 77px percentage(100/1400) 163px;
                @media(max-width: 1200px){
                    padding:  77px 50px 163px;
                }
                @media(max-width: 1024px){
                    padding:  77px 30px 160px;
                }
                @media(max-width: 768px){
                    padding:  77px 30px 120px;
                }
                @media(max-width: 480px){
                    padding: 50px 15px 80px;
                }
                h2.title{
                    margin-bottom: 63px;
                    @media(max-width: 480px){
                        margin-bottom: 40px;
                    }
                }
                .grid-edge{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-column-gap: 20px;
                    @media(max-width: 1024px){
                        grid-template-columns: 1fr 1fr;
                        grid-row-gap: 20px;
                    }
                    @media(max-width: 480px){
                        grid-template-columns: 1fr;
                        grid-column-gap: 15px;
                        grid-row-gap: 15px;
                    }
                    .item{
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(45.21% 50.28% at 98.27% 46.37%, rgba(125, 92, 255, 0.105) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(124.34% 54.08% at 98.4% 16.58%, rgba(24, 124, 250, 0.13) 0.1%, rgba(255, 255, 255, 0) 100%), radial-gradient(154.41% 75.84% at 30.68% 100.06%, rgba(158, 171, 248, 0.3) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.95);
                        box-shadow: 1px 10px 10px rgba(28, 55, 198, 0.02), 10px 20px 20px rgba(28, 55, 198, 0.04), 20px 30px 30px rgba(28, 55, 198, 0.06), 55px 65px 44px rgba(28, 55, 198, 0.05);
                        .description{
                            .scroll-auto{
                                @media(max-width: 480px){
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }

        .decor-1{
            position: absolute;
            right: percentage(297.8/1440);
            top: 62.61px;
            @media(max-width: 1024px){
                right: 30px;
            }
            @media(max-width: 480px){
                right: 15px;
                top: 40px;
                img{
                    width: 60px;
                }
            }
        }
        .decor-2{
            position: absolute;
            left: percentage(140/1440);
            bottom: 30.54px;
            @media(max-width: 1024px){
                left: 30px;
            }
            @media(max-width: 480px){
                left: 15px;
                bottom: 10px;
                img{
                    width: 60px;
                }
            }
        }
        &::after{
            content: "";
            position: absolute;
            height: 393px;
            width: percentage(429/1440);
            background-image: url('./assets/images/common/cb1.svg');
            background-position: top left 20px;
            left: 0;
            top: 93.28px;
            opacity: .4;
        }
        &::before{
            content: "";
            position: absolute;
            height: 393px;
            width: percentage(460/1440);
            background-image: url('./assets/images/common/cb1.svg');
            background-position: top left 20px;
            right: 0;
            bottom: 40.72px;
            transform: rotate(180deg);
        }
    }
}