// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); //font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); //font-family: 'Poppins', sans-serif;
@font-face {
    font-family: "PoppinsVN-Black"; //Black 900
    src: url("./assets/fonts/PoppinsVN-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsVN-Extrabold"; //Extra-bold 800
    src: url("./assets/fonts/PoppinsVN-Extrabold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsVN-Bold"; //Bold 700
    src: url("./assets/fonts/PoppinsVN-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsVN-Semibold"; //Semi-bold 600
    src: url("./assets/fonts/PoppinsVN-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsVN-Medium"; //Medium 500
    src: url("./assets/fonts/PoppinsVN-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsVN-Regular"; //Regular 400
    src: url("./assets/fonts/PoppinsVN-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsVN-Light"; //Light 300
    src: url("./assets/fonts/PoppinsVN-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsVN-Extralight"; //Light 200
    src: url("./assets/fonts/PoppinsVN-Extralight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsVN-Thin"; //Thin 100
    src: url("./assets/fonts/PoppinsVN-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

// Gilroy
@font-face {
    font-family: "Gilroy-Black"; //Back 900
    src: url("./assets/fonts/Gilroy-Black.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Extrabold"; //Extrabold 800
    src: url("./assets/fonts/Gilroy-Extrabold.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Bold"; //Bold 700
    src: url("./assets/fonts/Gilroy-Bold.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Semibold"; //Semibold 600
    src: url("./assets/fonts/Gilroy-Semibold.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Medium"; //Medium 500
    src: url("./assets/fonts/Gilroy-Medium.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Regular"; //Regular 400
    src: url("./assets/fonts/Gilroy-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Light"; //Light 300
    src: url("./assets/fonts/Gilroy-Light.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}