@charset "UTF-8";
/*
Theme Name: Việt Nam Design Week
Theme URI: https://timevn.com
Author: TU
Author URI: https://timevn.com
Description: A starter theme
Version: 1.0
Text Domain: corex
Tags: theme, starter theme, time vn
*/

:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-heading: #001355;
  --color-main-text: #333333;
  --color-secondary-text: #888888;
  --color-tertiary-text: #cccccc;

  --color-link: #187cfa;
  
  --button-hover: #0652B3;
  
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

.typography {
  /*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
}

.typography html,
.typography body,
.typography ol,
.typography ul,
.typography li,
.typography dl,
.typography dt,
.typography dd,
.typography blockquote,
.typography figure,
.typography fieldset,
.typography legend,
.typography textarea,
.typography pre,
.typography iframe,
.typography hr,
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  margin: 0;
  padding: 0;
}
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  font-size: 100%;
  font-weight: normal;
}
.typography ul {
  list-style: none;
}
.typography button,
.typography input,
.typography select,
.typography textarea {
  margin: 0;
}
.typography html {
  box-sizing: border-box;
}
.typography *,
.typography *::before,
.typography *::after {
  box-sizing: inherit;
}
.typography img,
.typography video {
  height: auto;
  max-width: 100%;
}
.typography iframe {
  border: 0;
}
.typography table {
  border-collapse: collapse;
  border-spacing: 0;
}
.typography td,
.typography th {
  padding: 0;
}
.typography td:not([align]),
.typography th:not([align]) {
  text-align: left;
}

/* Import Fonts */
@font-face {
  font-family: "TT Commons Black";
  src: url("./assets/fonts/TTCommonsDb/font.woff") format("truetype");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: "TT Commons Medium";
  src: url("./assets/fonts/TTCommonsDb/font.woff2") format("woff2"), url('assets/fonts/TTCommonsDb/font.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons Regular";
  src: url('./assets/fonts/TTCommonsRg/font.woff2') format('woff2'), url('./assets/fonts/TTCommonsRg/font.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  font-family: "TT Commons Regular";
  font-size: 17px;
  line-height: 23px;
  color: var(--color-black);
}

