.grid-speakers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 24px;
    @media(max-width: 768px){
        grid-template-columns: 1fr 1fr;
    }
    @media(max-width: 480px){
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }
}
.speaker-item{
    line-height: 21px;
    font-family: "Gilroy-Light";
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    p{
        margin: 0;
    }
    .avatar{
        width: 100%;
        height: 336px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .info{
        padding: 13px 16px 23px;
        h3.name{
            font-family: "Gilroy-Extrabold"; 
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: #167BFA;
            margin: 0 0 6px;
        }
        .work_place{
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: #167BFA;
            margin:0 0 13px;
        }
        .title-post{
            margin:0 0 14px;
            font-family: "Gilroy-Light";
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
        }
    }
}